/* google fonts */

@import url(https://fonts.googleapis.com/css?family=Amatic+SC:regular,700);

/* null */

@import url("reset.css");

/*--------------------*/
.wrapper {
	min-height: 100%;
	overflow: clip;
}
.header-top {
	padding: 10px;
	background-color: #95887f;
}
.header-top__title h1 {
	font-size: 30px;
	text-align: center;
	color: #ffffff;
}
.page {
	position: relative;
}
.page__background {
	position: absolute;
	top: 0;
	left: 0;
	background: #00ff00 url("../img/webp/forbiddenforest.webp") 0 0 / contain repeat-x;
	height: 100vh;
	width: 100%;
}
.background {
	width: 666666px;
}
