/* google fonts */

@import url(https://fonts.googleapis.com/css?family=Amatic+SC:regular,700);

/* null */

@import url("reset.css");

/*--------------------*/
.wrapper {
	min-height: 100%;
	overflow: clip;
}
.header-top {
	padding: 10px;
	background-color: #000000;
}
.header-top__title h1 {
	font-size: 30px;
	text-align: center;
	color: #ffffff;
}
.page {
	position: relative;
	height: 100vh;
}
.page__background {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
}
.background {
	width: 666666px;
}
.background__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00ff00 url("../img/webp/forbiddenforest.webp") 0 0 / contain repeat-x;
	animation: invbg 600s linear;
	animation-iteration-count: infinite;
}
@keyframes invbg {
	0% {
		transform: translate(-50%, 0px);
	}
	100% {
		transform: translate(50%, 0px);
	}
}
.invisible-road {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	transform: translate(-100%, 0px);
	animation: invroad 600s linear;
	animation-iteration-count: infinite;
}
@keyframes invroad {
	0% {
		transform: translate(100%, 0px);
	}
	100% {
		transform: translate(0%, 0px);
	}
}
.page__ford {
	position: absolute;
	bottom: 100%;
	left: 20%;
	animation: startmove 12s ease infinite forwards;
}
@keyframes startmove {
	0% {
		left: 100%;
		bottom: 100%;
	}
	25% {
		bottom: 70%;
	}
	50% {
		bottom: 80%;
	}
	75% {
		bottom: 70%;
	}
	100% {
		left: 0%;
		bottom: 100%;
	}
}
.ford-body {
	max-width: 500px;
	margin: 0px auto;
}
.ford-body__roof {
	position: absolute;
	top: 85px;
	left: 315px;
	height: 20px;
	width: 250px;
	margin: 0 auto;
	background-color: #ffffff;
	border-radius: 49% 51% 51% 49% / 100% 100% 0% 0%;
	border: 10px solid #ffffff;
	transform: rotateX(30deg);
}
.ford-body__bottom {
	z-index: 10;
	position: absolute;
	height: 150px;
	width: 600px;
	margin: 0 auto;
	border-radius: 21% 10% 6% 5% / 16% 24% 19% 15%;
	background-color: #405688;
	border-top: 10px solid #ffffff;
	top: 200px;
	left: 150px;
}
.ford-body__headlight {
	position: absolute;
	height: 42px;
	width: 10px;
	margin: 0 auto;
	border-radius: 71% 0% 0% 56% / 100% 16% 0% 100%;
	background-color: #d8c6d2;
	top: 240px;
	left: 140px;
}
.ford-body__frontw--wheel {
	z-index: 11;
	position: absolute;
	height: 100px;
	width: 100px;
	margin: 0 auto;
	border-radius: 51% 49% 51% 49% / 49% 48% 52% 51%;
	background-color: #35383d;
	border: 20px solid #191c21;
	top: 290px;
	left: 220px;
}
.ford-back--wheel {
	position: absolute;
	height: 100px;
	width: 100px;
	margin: 0 auto;
	border-radius: 51% 49% 51% 49% / 49% 48% 52% 51%;
	background-color: #35383d;
	border: 20px solid #191c21;
	top: 290px;
	left: 550px;
	z-index: 11;
}
.ford-body__frontm--door-window {
	position: absolute;
	height: 100px;
	width: 160px;
	margin: 0 auto;
	border-radius: 36% 0% 0% 0% / 95% 8% 10% 7%;
	background-color: #191d1c;
	top: 100px;
	left: 270px;
	z-index: 4;
	transition: all 3s;
}
.ford-body:hover .ford-body__frontm {
	visibility: hidden;
	transition: all 3s;
	transform: translateY(150px);
}
.ford-body__weasley {
	position: absolute;
	height: 100px;
	width: 150px;
	margin: 0 auto;
	top: 100px;
	left: 270px;
	border-radius: 36% 0% 0% 0% / 95% 8% 10% 7%;
}
.ford-body__window--frame {
	position: absolute;
	height: 100px;
	width: 160px;
	margin: 0 auto;
	border-radius: 36% 0% 0% 0% / 95% 8% 10% 7%;
	border: 10px solid #405688;
	top: 100px;
	left: 270px;
	z-index: 8;
}
.ford-body__back--window {
	position: absolute;
	height: 100px;
	width: 160px;
	margin: 0 auto;
	border-radius: 15% 20% 0% 0% / 0% 47% 16% 0%;
	border: 10px solid #405688;
	background-color: #191d1c;
	top: 100px;
	left: 430px;
}
.ford-body__opened--trunk {
	position: absolute;
	height: 20px;
	width: 170px;
	margin: 0 auto;
	border-radius: 49% 51% 51% 49% / 100% 100% 0% 0%;
	border: 10px solid #405688;
	background-color: #405688;
	transform-origin: 0 0;
	top: 180px;
	left: 580px;
	transition: all 0.5s;
}
.ford-body:hover .ford-body__opened {
	visibility: visible;
	transform: rotate(-30deg);
	transition: all 0.5s;
}
.ford-body__snitch {
	position: absolute;
	border-radius: 50%;
	background-color: #efbf65;
	border: solid 1px #3c2e2d;
	width: 20px;
	height: 20px;
	z-index: 12;
	animation: hover ease-in-out 0.5ms infinite;
}
.ford-body__right {
	position: absolute;
	top: -20px;
	left: 10px;
	background-color: white;
	border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
	border: solid 1px #3c2e2d;
	width: 30px;
	height: 30px;
	animation: hover ease-in-out 0.5ms infinite;
}
.ford-body__left {
	position: absolute;
	top: -20px;
	left: 15px;
	background-color: white;
	border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
	border: solid 1px #3c2e2d;
	width: 30px;
	height: 30px;
	animation: hover ease-in-out 0.5ms infinite;
}
.ford-body__potter {
	position: absolute;
	height: 200px;
	width: 300px;
	margin: 0 auto;
	transform-origin: 0 0;
	top: 5px;
	left: 880px;
}
@keyframes hover {
	0% {
		transform: translatey(-3px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(-3px);
	}
}
