/* google fonts */

@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800");

/* null */

@import url("reset.css");

/*--------------------*/

/* --------@keyframes---------- */

/* ------------------------- */
.header-container {
	background-color: #fdf0e9;
	padding: 15px;
}
.header-container__title {
	text-align: center;
	font-weight: 700;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1200px;
	padding-inline: 15px;
	margin-inline: auto;
}
.page {
	width: 100%;
}

/* -------------------FLEX------------------- */

.portfolio {
	background-color: #28293e;
	font-family: "Epilogue", sans-serif;
	padding-block-start: 90px;
}
.portfolio__top {
	text-align: center;
	padding-block-end: 117px;
}
.portfolio__title {
	margin-block-end: 20px;
	color: #ef6d58;
	line-height: 200%;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.portfolio__subtitle {
	margin-block-end: 36px;
}
.portfolio__top h2 {
	color: #ffffff;
	font-size: 56px;
	font-weight: 800;
	line-height: 114.286%;
	letter-spacing: -1px;
	text-transform: capitalize;
}
@media (max-width: 1060px) {
	.portfolio__title {
		margin-block-end: 17px;
	}
	.portfolio__top h2 {
		font-size: 40px;
		line-height: 120%;
	}
}
.portfolio__list {
	display: flex;
	column-gap: 60px;
	row-gap: 10px;
	justify-content: center;
	flex-wrap: wrap;
	margin-block-end: 68px;
}
.portfolio__list li {
	color: rgba(255, 255, 255, 0.64);
	line-height: 200%;
}
@media (max-width: 1060px) {
	.portfolio__list {
		column-gap: 30px;
		margin-block-end: 34px;
	}
}
@media (max-width: 550px) {
	.portfolio__list {
		display: none;
	}
}
.portfolio__box {
	margin-block-end: 48px;
	position: relative;
}
.portfolio__select {
	appearance: none;
	width: 100%;
	padding: 9px 16px;
	border-radius: 6px;
	background: #ffffff;
	color: rgba(57, 20, 0, 0.64);
	line-height: 200%;
}
.portfolio__box svg {
	position: absolute;
	top: 21px;
	right: 16px;
	width: 10px;
	height: 6px;
}
@media (min-width: 551px) {
	.portfolio__box {
		display: none;
	}
}
.portfolio__item {
	text-align: center;
	text-transform: capitalize;
	transition: all 0.5s;
}
.portfolio__list sup {
	display: inline-block;
	transform: translateY(-8px);
}
.column {
	display: flex;
	flex-wrap: wrap;
	gap: 32px 30px;
	margin-block-end: 64px;
}
.column__item {
	flex: 1 0 40%;
	aspect-ratio: 470/416;
	width: 100%;
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	position: relative;
	padding: 51px 48px;
}
.column__item:nth-child(4n + 2) {
	flex: 1 0 57%;
	width: 100%;
	aspect-ratio: 670/416;
}
.column__item:nth-child(4n + 3) {
	flex: 1 0 57%;
	width: 100%;
	aspect-ratio: 670/416;
}
.column__item img {
	width: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
.column__item::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	opacity: 0.3181;
	background: #5c2000;
	transition: all 0.3s;
}
.column__text {
	position: relative;
	z-index: 2;
}
.column__button {
	padding: 5px 15px;
	width: fit-content;
	border-radius: 19px;
	background-color: #ffffff;
	text-align: center;
	line-height: 200%;
	text-transform: capitalize;
	color: #391400;
	margin-bottom: 24px;
	transition: all 0.8s;
}
.column__label {
	color: #ffffff;
	font-size: 40px;
	font-weight: 800;
	line-height: 120%;
	text-transform: capitalize;
}
@media (max-width: 1030px) {
	.column {
		justify-content: center;
		column-gap: 15px;
		row-gap: 15px;
		margin-block-end: 48px;
	}
	.column__item {
		flex-basis: 329px;
		aspect-ratio: 1;
		height: 100%;
		padding: 51px 28px;
	}
	.column__item:nth-child(4n + 2) {
		flex-basis: 329px;
		aspect-ratio: 1;
	}
	.column__item:nth-child(4n + 3) {
		flex-basis: 329px;
		aspect-ratio: 1;
	}
	.column__button {
		margin-bottom: 23px;
	}
	.column__label {
		line-height: 48%;
	}
}
@media (max-width: 551px) {
	.column__label {
		overflow-wrap: break-word;
		text-align: left;
		line-height: 100%;
		max-width: 244px;
	}
}
@media (max-width: 351px) {
	.column__item {
		flex-basis: 129px;
	}
	.column__item:nth-child(4n + 2) {
		flex-basis: 129px;
	}
	.column__item:nth-child(4n + 3) {
		flex-basis: 129px;
	}
}
.buttons {
	position: relative;
	text-align: center;
	border-radius: 6px;
	transition: all 0.5s;
	padding: 16px 30px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
}
.buttons::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border-radius: 6px;
	border: 1px solid rgba(255, 255, 255, 0.2);
}
.buttons::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border-radius: 6px;
	border: 1px solid rgba(255, 255, 255, 0.2);
}
@media (any-hover: hover) {
	.portfolio__box:hover svg {
		cursor: pointer;
	}
	.portfolio__item:hover {
		color: #ffffff;
		transition: all 0.5s;
	}
	.column__item:hover::after {
		transition: all 0.2s;
		transform: translatey(-100%);
		opacity: 0.1;
		background: #5c2000;
	}
	.column__button:hover {
		background: #5c2000;
		color: #ffffff;
		transition: all 0.5s;
		text-decoration: underline;
	}
	.buttons:hover::before {
		transform: rotate(-45deg);
		background-color: rgba(255, 255, 255, 0);
	}
	.buttons:hover::after {
		transform: rotate(45deg);
		background-color: rgba(255, 255, 255, 0);
	}
}
/* -------------------GRID------------------- */

.grid {
	background-color: #28293e;
	font-family: "Epilogue", sans-serif;
	padding-block-start: 90px;
}
.portfolio-grid__top {
	display: grid;
	justify-items: center;
	padding-block-end: 117px;
}
.portfolio-grid__header {
	display: grid;
	row-gap: 20px;
	margin-block-end: 36px;
}
.portfolio-grid__title {
	color: #ef6d58;
	text-align: center;
	line-height: 2;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.portfolio-grid__subtitle {
	color: #fff;
	text-align: center;
	font-size: 56px;
	font-weight: 800;
	line-height: 114.286%;
	letter-spacing: -1px;
}
.portfolio-grid__list {
	display: flex;
	margin-block-end: 48px;
	row-gap: 10px;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 60px;
}
.portfolio-grid__list sup {
	display: inline-block;
	transform: translateY(-8px);
}
@media (max-width: 550px) {
	.portfolio-grid__list {
		display: none;
	}
}
.portfolio-grid__item {
	color: rgba(255, 255, 255, 0.64);
	line-height: 2;
	transition: all 0.5s;
}
.portfolio-grid__box {
	margin-block-end: 48px;
	position: relative;
	width: 100%;
}
.portfolio-grid__box svg {
	position: absolute;
	top: 21px;
	right: 16px;
	width: 10px;
	height: 6px;
}
.portfolio-grid__select {
	appearance: none;
	width: 100%;
	padding: 9px 16px;
	border-radius: 6px;
	background: #ffffff;
	color: rgba(57, 20, 0, 0.64);
	line-height: 200%;
}
@media (min-width: 551px) {
	.portfolio-grid__box {
		display: none;
	}
}
.column-grid {
	display: grid;
	gap: 30px;
	margin-block-end: 64px;
}
.column-grid__item {
	position: relative;
	transition: all 0.3s;
	overflow: hidden;
}
.column-grid__item::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	opacity: 0.3181;
	background: #5c2000;
	transition: all 0.3s;
}
.column-grid__image {
	width: 100%;
	height: 100%;
}
.column-grid__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 6px;
}
.column-grid__text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	transform: translatey(-100%);
	row-gap: 24px;
	padding-inline: 48px;
	padding-block-end: 51px;
}
.column-grid__button {
	color: #391400;
	line-height: 2;
	border-radius: 19px;
	background: #fff;
	padding: 5px 15px;
	width: fit-content;
	text-transform: capitalize;
	transition: all 0.8s;
}
.column-grid__label {
	color: #fff;
	font-size: 40px;
	font-weight: 800;
	line-height: 120%;
}
.portfolio-grid__button {
	text-align: center;
}
@media (min-width: 771px) {
	.column-grid {
		grid-template-columns: minmax(200px, 470px) minmax(0, 170px) minmax(200px, 470px);
		grid-auto-rows: 416px;
	}
	.column-grid__item:nth-child(4n + 2) {
		grid-column: span 2;
	}
	.column-grid__item:nth-child(4n + 3) {
		grid-column: span 2;
	}
}
@media (max-width: 950px) {
	.column-grid {
		gap: 15px;
	}
	.portfolio-grid__list {
		gap: 30px;
	}
}
@media (max-width: 770px) {
	.column-grid {
		grid-template-columns: repeat(2, 1fr);
	}
	.column-grid__text {
		row-gap: 20px;
		padding-inline: 24px;
		padding-block-end: 51px;
	}
	.column-grid__label {
		font-size: 35px;
	}
}
@media (max-width: 567px) {
	.column-grid {
		grid-template-columns: repeat(1, 1fr);
	}
	.portfolio-grid__subtitle {
		font-size: 40px;
		line-height: 120%;
		letter-spacing: 0px;
	}
}
.buttons-grid {
	text-align: center;
	position: relative;
	width: fit-content;
	border-radius: 6px;
	transition: all 0.5s;
	padding: 16px 30px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
}
.buttons-grid::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border-radius: 6px;
	border: 1px solid rgba(255, 255, 255, 0.2);
}
.buttons-grid::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border-radius: 6px;
	border: 1px solid rgba(255, 255, 255, 0.2);
}
@media (any-hover: hover) {
	.portfolio-grid__list {
		display: flex;
		margin-block-end: 48px;
		row-gap: 10px;
		justify-content: center;
		flex-wrap: wrap;
		column-gap: 60px;
	}
	.portfolio-grid__item:hover {
		color: #ffffff;
		transition: all 0.5s;
	}
	.column-grid__item:hover::before {
		transition: all 0.3s;
		transform: translatey(-100%);
		will-change: transform;
		opacity: 0.1;
		background: #5c2000;
	}
	.column-grid__button:hover {
		background: #5c2000;
		color: #ffffff;
		transition: all 0.5s;
		text-decoration: underline;
	}
	.buttons-grid:hover::before {
		transform: rotate(-45deg);
		background-color: rgba(255, 255, 255, 0);
	}
	.buttons-grid:hover::after {
		transform: rotate(45deg);
		background-color: rgba(255, 255, 255, 0);
	}
}
/* ----------------------------------------- */

.footer-content {
	background-color: #28293e;
	max-height: 100px;
	text-align: center;
}
.footer-content p {
	text-align: center;
	color: #ffffff;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 20px;
	line-height: 103.448%;
	padding: 20px;
}
/* ----------------------------------------- */
