/* google fonts */

/* null */

@import url("reset.css");

/*--------------------*/

/* --------@keyframes---------- */

/* ------------------------- */
body {
	background-color: #28293e;
}
.header-container {
	background-color: #fdf0e9;
	padding: 15px;
}
.header-container__title {
	text-align: center;
	font-weight: 700;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1346px;
	padding-inline: 15px;
	margin-inline: auto;
}
.page {
	width: 100%;
}
/* --------------------------------------- */
.page {
}
.page__items {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 15px;
}
.page__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.page__item .page__image {
	aspect-ratio: 305/184;
}
.page__container {
	padding-block: 50px;
}
/* -------------------------------------- */

@media (min-width: 850px) {
	.page__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		/* grid-template-rows: 19fr 1fr 11fr 1fr 19fr 19fr 1fr 11fr 1fr 19fr; */
		column-gap: 32px;
		row-gap: 24px;
	}
	/* ------------------------------- */
	.page__item:nth-child(17n + 1),
	.page__item:nth-child(17n + 4),
	.page__item:nth-child(17n + 8),
	.page__item:nth-child(17n + 10),
	.page__item:nth-child(17n + 16) {
		grid-row: span 2;
	}
	/* ------------------------------- */
	.page__item:nth-child(17n + 2),
	.page__item:nth-child(17n + 5),
	.page__item:nth-child(17n + 6),
	.page__item:nth-child(17n + 7),
	.page__item:nth-child(17n + 14),
	.page__item:nth-child(17n + 12),
	.page__item:nth-child(17n + 15) {
		grid-row: span 3;
	}
	/* ------------------------------- */
	.page__item:nth-child(17n + 3),
	.page__item:nth-child(17n + 9),
	.page__item:nth-child(17n + 11),
	.page__item:nth-child(17n + 17) {
		grid-row: span 1;
	}
	/* ------------------------------- */
	.page__item:nth-child(17n + 13) {
		grid-row: span 5;
	}
	/* ------------------------------- */
	.page__item:nth-child(17n + 1) .page__image,
	.page__item:nth-child(17n + 4) .page__image,
	.page__item:nth-child(17n + 8) .page__image,
	.page__item:nth-child(17n + 10) .page__image,
	.page__item:nth-child(17n + 16) .page__image {
		aspect-ratio: 305 / 184;
	}
	/* ------------------------------- */
	.page__item:nth-child(17n + 2) .page__image,
	.page__item:nth-child(17n + 6) .page__image,
	.page__item:nth-child(17n + 7) .page__image,
	.page__item:nth-child(17n + 12) .page__image,
	.page__item:nth-child(17n + 15) .page__image {
		aspect-ratio: 305 / 296;
	}
	/* ------------------------------- */
	.page__item:nth-child(17n + 3) .page__image,
	.page__item:nth-child(17n + 5) .page__image,
	.page__item:nth-child(17n + 9) .page__image,
	.page__item:nth-child(17n + 11) .page__image,
	.page__item:nth-child(17n + 14) .page__image,
	.page__item:nth-child(17n + 17) .page__image {
		aspect-ratio: 305 / 152;
	}
	/* ------------------------------- */
	.page__item:nth-child(17n + 13) .page__image {
		aspect-ratio: 305 / 504;
	}
}

/* -------------------------------------- */
.footer-content {
	background-color: #28293e;
	max-height: 100px;
	text-align: center;
}
.footer-content p {
	text-align: center;
	color: #ffffff;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 20px;
	line-height: 103.448%;
	padding: 20px;
}
