/* google fonts */

@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800");
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700");

/* null */

@import url("reset.css");

/*--------------------*/

/* --------@keyframes---------- */

/* ------------------------- */
body {
	background: #141414;
}
.header-container {
	background-color: #fdf0e9;
	padding: 15px;
}
.header-container__title {
	text-align: center;
	font-weight: 700;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1215px;
	padding-inline: 15px;
	margin-inline: auto;
}
.page {
	width: 100%;
}

/* FIRST HALF */

.portfolio {
	background-color: #28293e;
	font-family: "Epilogue", sans-serif;
	padding-block-start: 90px;
}
.portfolio__top {
	text-align: center;
	margin-block-end: 117px;
}
.portfolio__title {
	margin-block-end: 20px;
}
h1 {
	color: #ef6d58;
	line-height: 200%;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.portfolio__subtitle {
	margin-block-end: 36px;
}
.portfolio__top h2 {
	color: #ffffff;
	font-size: 56px;
	font-weight: 800;
	line-height: 114.286%;
	letter-spacing: -1px;
	text-transform: capitalize;
}
@media (max-width: 1060px) {
	.portfolio__top {
		margin-block-end: 69px;
	}
	.portfolio__title {
		margin-block-end: 17px;
	}
	.portfolio__top h2 {
		font-size: 40px;
		line-height: 120%;
	}
}
.portfolio__list {
	display: flex;
	/* flex: 1 0 49%; */
	column-gap: 60px;
	row-gap: 10px;
	justify-content: center;
	flex-wrap: wrap;
	margin-block-end: 68px;
}
.portfolio__list li {
	color: rgba(255, 255, 255, 0.64);
	line-height: 200%;
}
@media (max-width: 1060px) {
	.portfolio__list {
		column-gap: 30px;
		margin-block-end: 34px;
	}
}
@media (max-width: 550px) {
	.portfolio__list {
		display: none;
	}
}
.portfolio__box {
	margin-block-end: 48px;
	position: relative;
}
.portfolio__select {
	appearance: none;
	width: 100%;
	padding: 9px 16px;
	border-radius: 6px;
	background: #ffffff;
	color: rgba(57, 20, 0, 0.64);
	line-height: 200%;
}
.portfolio__box svg {
	position: absolute;
	top: 21px;
	right: 16px;
	width: 10px;
	height: 6px;
}
.portfolio__box:hover svg {
	cursor: pointer;
}
.portfolio__select option {
}
@media (min-width: 551px) {
	.portfolio__box {
		display: none;
	}
}
.portfolio__item {
	text-align: center;
	text-transform: capitalize;
	transition: all 0.5s;
}
.portfolio__item:hover {
	color: #ffffff;
	transition: all 0.5s;
}
.portfolio__list sup {
	display: inline-block;
	transform: translateY(-8px);
}
.column {
	display: flex;
	flex-wrap: wrap;
	gap: 32px 30px;
	margin-block-end: 64px;
}
.column__item {
	flex: 0 1 40%;
	aspect-ratio: 470/416;
	display: flex;
	align-items: flex-end;
	position: relative;
	padding: 51px 48px;
}
.column__item:nth-child(4n + 2) {
	flex: 0 1 57%;
	aspect-ratio: 670/416;
}
.column__item:nth-child(4n + 3) {
	flex: 0 1 57%;
	aspect-ratio: 670/416;
}
.column__item img {
	width: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	border-radius: 6px;
	will-change: transform;
}
.column__item::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	opacity: 0.3181;
	background: #5c2000;
	transition: all 0.3s;
}
.column__item:hover::after {
	transition: all 0.2s;
	visibility: hidden;
	opacity: 0.1;
	background: #5c2000;
}
.column__text {
	position: relative;
	z-index: 2;
}
.column__button {
	padding: 5px 15px;
	width: fit-content;
	border-radius: 19px;
	background-color: #ffffff;
	text-align: center;
	line-height: 200%;
	text-transform: capitalize;
	color: #391400;
	margin-bottom: 24px;
	transition: all 0.8s;
}
.column__button:hover {
	background: #5c2000;
	color: #ffffff;
	transition: all 0.5s;
	text-decoration: underline;
}
.column__label {
	color: #ffffff;
	font-size: 40px;
	font-weight: 800;
	line-height: 120%;
	text-transform: capitalize;
}
@media (max-width: 1060px) {
	.column {
		display: flex;
		justify-content: center;
		gap: 15px;
		margin-block-end: 48px;
	}
	.column__item {
		flex: 0 1 100%;
		aspect-ratio: 329/416;
		padding: 51px 28px;
	}
	.column__item:nth-child(4n + 2) {
		aspect-ratio: 329/416;
		flex: 0 1 100%;
	}
	.column__item:nth-child(4n + 3) {
		aspect-ratio: 329/416;
		flex: 0 1 100%;
	}
	.column__button {
		margin-bottom: 23px;
	}
	.column__label {
		line-height: 48%;
	}
}
.buttons {
	position: relative;
	text-align: center;
	align-self: center;
	border-radius: 6px;
	transition: all 0.5s;
	padding: 16px 30px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
}
.buttons::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border-radius: 6px;
	border: 1px solid rgba(255, 255, 255, 0.2);
}
.buttons::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border-radius: 6px;
	border: 1px solid rgba(255, 255, 255, 0.2);
}
.buttons:hover::before {
	transform: rotate(-45deg);
	background-color: rgba(255, 255, 255, 0);
}
.buttons:hover::after {
	transform: rotate(45deg);
	background-color: rgba(255, 255, 255, 0);
}

/* ----------------------------------------- */

.get-started {
	margin-block-end: 65px;
	padding-block-start: 75px;
	padding-block-end: 70px;
}
.get-started__container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 30px;
	background-color: #fdf0e9;
	border-radius: 6px;
	padding-inline: 100px 83px;
}
.left {
	/* flex: 0 1 21%; */
	max-width: 248px;
	padding-block: 75px;
}
.left__stargift::after {
	content: "";
	background: url("../img/13/svg/staricon.svg") center / 148px 148px no-repeat;
	position: absolute;
	top: -75px;
	left: 85px;
	width: 148px;
	height: 148px;
}
.left__title {
	color: #ef6d58;
	line-height: 200%;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-block-end: 13px;
}
.left__subtitle {
	color: #391400;
	font-size: 24px;
	font-weight: 700;
	line-height: 133.333%;
	margin-block-end: 23px;
}
.button {
	padding: 18px 32px;
	position: relative;
}
.button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	background-color: rgba(239, 109, 88, 1);
	transition: all 0.5s;
}
.button:hover::before {
	opacity: 0;
	transform: scale(0.5);
}
.button::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.5s;
	border-radius: 6px;
	background-color: rgba(239, 109, 88, 0.5);
	border: 1px solid rgba(239, 109, 88, 0.5);
	transform: scale(1.2);
}
.button:hover::after {
	opacity: 1;
	transform: scale(1);
}
.button__text {
	color: #ffffff;
	text-align: center;
	font-size: 14px;
	z-index: 1;
	position: relative;
	font-weight: 900;
	text-transform: uppercase;
	transition: all 0.8s;
}
.button__text:hover {
	text-decoration: underline;
}
.get-started__card {
	/* flex-basis: 338px; */
	flex: 1 1 28%;
	aspect-ratio: 338/176;
	position: relative;
	border-radius: 6px;
	box-shadow: 0px 24px 48px 0px rgba(85, 30, 0, 0.04);
	z-index: 3;
	position: relative;
	width: 100%;
	/* padding-bottom: 32px; */
}
.get-started__card img {
	/* border-radius: 6px;
	box-shadow: 0px 24px 48px 0px rgba(85, 30, 0, 0.04);
	z-index: 3;
	position: relative;
	width: 100%; */
}
.get-started__card::after {
	content: "";
	position: absolute;
	top: 8px;
	left: 16px;
	z-index: 2;
	width: 306px;
	height: 176px;
	/* width: calc(100% - 32px);
	height: calc(100% - 32px); */
	border-radius: 6px;
	background-color: #fff;
	box-shadow: 0px 24px 48px 0px rgba(85, 30, 0, 0.04);
}
.get-started__card::before {
	content: "";
	position: absolute;
	top: 16px;
	left: 32px;
	z-index: 1;
	width: 274px;
	height: 176px;
	/* width: calc(100% - 64px);
	height: calc(100% - 32px); */
	border-radius: 6px;
	background-color: #fff;
	box-shadow: 0px 24px 48px 0px rgba(85, 30, 0, 0.04);
}
.right {
	flex: 0 1 24%;
	align-self: flex-end;
	display: flex;
	justify-content: center;
	position: relative;
	margin-block-start: -60px;
	z-index: 10;
}
.right__firstlady {
}
.right__firstlady::before {
	content: "";
	background: url("../img/13/svg/cloudsvg.svg") center / 282px 242px no-repeat;
	position: absolute;
	top: 107px;
	right: 16px;
	width: 282px;
	height: 242px;
	z-index: -1;
}
.right__firstlady img {
	max-width: 100%;
}
.events {
	padding-block-start: 70px;
	padding-block-end: 70px;
	display: flex;
	flex-direction: column;
}
.events__top {
	max-width: 426px;
	margin-inline: auto;
	margin-block-end: 64px;
}
.events__title {
	color: #ef6d58;
	text-align: center;
	line-height: 200%;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-block-end: 20px;
}
.events__subtitle {
	color: #ffffff;
	text-align: center;
	font-size: 56px;
	font-weight: 800;
	line-height: 114.286%;
	letter-spacing: -1px;
}
.events__cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 27px;
}
.events__card {
	flex-basis: 370px;
	display: flex;
	flex-direction: column;
	border-radius: 6px;
	border: 1px solid #3a3c56;
	padding: 40px;
	margin-block-end: 64px;
}
.events__head {
	display: flex;
	gap: 12px;
	align-items: center;
	margin-block-end: 19px;
}
.events__day {
	color: #ffffff;
	font-size: 72px;
	font-weight: 800;
	line-height: 111.111%;
	letter-spacing: -2px;
}
.events__month {
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	line-height: 133.333%;
}
.events__year {
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	line-height: 133.333%;
}
.events__time {
	display: flex;
	align-items: center;
	gap: 8px;
	color: #ffffff;
	line-height: 200%;
	padding-block-end: 36px;
}
.events__time::before {
	content: "";
	background: url("../img/13/svg/time.svg") center / 16px 16px no-repeat;
	width: 16px;
	height: 16px;
}
.events__time {
	width: 290px;
	border-bottom: 1px solid #3a3c56;
	margin-block-end: 40px;
}
.events__header {
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	line-height: 133.333%;
	margin-block-end: 19px;
}
.events__text {
	color: rgba(255, 255, 255, 0.64);
	line-height: 200%;
	margin-block-end: 26px;
	flex-grow: 1;
}
.events__buttons {
	color: #ffffff;
	line-height: 200%;
	text-transform: capitalize;
	transition: all 0.5s;
}
.events__buttons:hover {
	transform: scale(0.9);
	transition: all 0.6s;
}
.team {
	padding-block-start: 70px;
	padding-block-end: 90px;
}
.team__top {
	display: flex;
	justify-content: space-between;
	margin-block-end: 64px;
}
.team__head {
	max-width: 531px;
}
.team__title {
	color: #ef6d58;
	line-height: 200%;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-block-end: 20px;
}
.team__subtitle {
	color: #ffffff;
	font-size: 56px;
	font-weight: 800;
	line-height: 114.286%;
	letter-spacing: -1px;
}
.arrows {
	display: flex;
	gap: 16px;
	align-items: flex-end;
}
.arrows__left::after {
	content: "";
	background: url("../img/13/svg/left.svg") center / 48px 48px no-repeat;
	width: 48px;
	height: 48px;
	transition: all 0.7s;
	border-radius: 50%;
}
.arrows__left:hover::after {
	content: "";
	background-color: #ef6d58;
	transform: scale(0.9);
	border-radius: 50%;
	transition: all 0.8s;
}
.arrows__right::after {
	content: "";
	background: url("../img/13/svg/right.svg") center / 48px 48px no-repeat;
	width: 48px;
	height: 48px;
	transition: all 0.7s;
	border-radius: 50%;
}
.arrows__right:hover::after {
	content: "";
	background-color: #ef6d58;
	transform: scale(0.9);
	border-radius: 50%;
	transition: all 0.8s;
}
.team__img-cards {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
	margin-block-end: 52px;
}
.team__img-card {
	flex-basis: 270px;
}
.team__img {
	display: flex;
	min-height: 272px;
	border-radius: 6px;
	border: 1px solid #3a3c56;
	justify-content: center;
	margin-block-end: 25px;
	align-items: flex-end;
}
.team__img img {
	max-width: 100%;
}
.team__name {
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	line-height: 133.333%;
	text-transform: capitalize;
}
.team__position {
	color: rgba(255, 255, 255, 0.64);
	font-weight: 400;
	line-height: 200%;
}
.circle {
	display: flex;
	gap: 20px;
	justify-content: center;
}
.circle__scroll {
	border-radius: 50%;
	width: 12px;
	height: 12px;
	border: 1px solid #4e4f6e;
	transition: all 0.7s;
}
.circle__scroll--left {
	border-radius: 50%;
	width: 12px;
	height: 12px;
	background-color: #ef6d58;
}
.circle__scroll:hover {
	border-radius: 50%;
	width: 12px;
	height: 12px;
	background-color: #ef6d58;
	transition: all 0.8s;
}
.founder {
	display: flex;
	flex-wrap: wrap;
	gap: 130px;
	padding-block-end: 90px;
	padding-block-start: 90px;
}
.founder__images {
	flex: 1 1 570px;
	align-items: center;
}
.founder__images img {
	width: 100%;
	border-radius: 6px;
	border: 1px solid #3a3c56;
}
.founder__text {
	display: flex;
	flex-direction: column;
	flex-basis: 470px;
	justify-content: center;
	position: relative;
}
.founder__quotes::before {
	content: "";
	background: url("../img/13/svg/quotes.svg") center / 100px 80px no-repeat;
	width: 100px;
	height: 80px;
	position: absolute;
	top: 53px;
	right: 44px;
	z-index: -1;
}
.founder__label {
	color: #ef6d58;
	line-height: 200%;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-block-end: 33px;
}
.founder__quote {
	color: #ffffff;
	font-size: 40px;
	font-weight: 800;
	line-height: 120%;
	margin-block-end: 44px;
}
.founder__signature {
	color: #ffffff;
	font-size: 20px;
	line-height: 160%;
	margin-block-end: 6px;
}
.founder__position {
	color: rgba(255, 255, 255, 0.64);
	font-size: 14px;
	line-height: 171.429%;
}
.footer-content {
	background-color: #28293e;
	max-height: 100px;
	text-align: center;
}
.footer-content p {
	text-align: center;
	color: #ffffff;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 20px;
	line-height: 103.448%;
	padding: 20px;
}

/* SECOND HALF */
.dark-theme {
	padding-block: 50px;
	background: #141414;
	font-family: "Manrope", sans-serif;
}
.dark-theme__container {
	width: 100%;
	max-width: 1630px;
	overflow: hidden;
}
.movies {
	border: 1px solid #262626;
	border-radius: 12px;
	padding: 50px;
	margin-inline: auto;
	margin-block-end: 75px;
}
.movies__content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: 0;
	gap: 50px;
	margin-inline: auto;
}
.movies__title {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 100%;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}
.movies__title h5 {
	color: #ffffff;
	font-size: 38px;
	font-weight: 700;
	line-height: 150%;
}
.movies__scroll {
	display: flex;
	align-items: center;
	gap: 16px;
	border-radius: 12px;
	border: 1px solid #1f1f1f;
	background: #0f0f0f;
	flex-basis: 13%;
	padding: 16px;
	cursor: pointer;
}
.movies__left {
	padding: 14px;
	border-radius: 8px;
	border: 1px solid #1f1f1f;
	background: #1a1a1a;
	transition: all 0.5s;
}
.movies__left::before {
	content: "";
	background: url("../img/15/svg/arrowleft.svg") center / contain no-repeat;
	padding: 6px;
	width: 17px;
	height: 17px;
}
.movies__left:hover {
	background: #e50000;
	transition: all 0.5s;
}
.scroller {
	display: flex;
	gap: 3px;
}
.scroller__01 {
	width: 23px;
	height: 4px;
	border-radius: 100px;
	background: #333333;
	transition: all 0.4s;
}
.scroller__01:hover {
	background: #e50000;
	transition: all 0.4s;
}
.scroller__rest {
	width: 16.3333px;
	height: 4px;
	background: #333333;
	border-radius: 100px;
}
.scroller__rest:hover {
	background: #e50000;
	transition: all 0.4s;
}
.movies__right {
	padding: 14px;
	border-radius: 8px;
	border: 1px solid #1f1f1f;
	background: #1a1a1a;
	transition: all 0.5s;
}
.movies__right::after {
	content: "";
	background: url("../img/15/svg/arrow.svg") center / contain no-repeat;
	padding: 6px;
	width: 17px;
	height: 17px;
}
.movies__right:hover {
	background: #e50000;
	transition: all 0.5s;
}
@media (max-width: 1440px) {
	.movies__title h5 {
		font-size: 30px;
	}
	.movies {
		border-radius: 12px;
		gap: 40px;
		padding: 40px;
		margin-block-end: 64px;
	}
	.movies__scroll {
		gap: 12px;
		border-radius: 10px;
		padding: 12px;
	}
	.movies__left {
		padding: 14px;
		border-radius: 6px;
	}
	.movies__left::before {
		width: 15px;
		height: 15px;
	}
	.scroller__01 {
		width: 18px;
		height: 4px;
	}
	.scroller__rest {
		width: 14px;
		height: 4px;
	}
	.movies__right {
		padding: 14px;
		border-radius: 6px;
	}
	.movies__right::after {
		width: 15px;
		height: 15px;
	}
}
@media (max-width: 1343px) {
	.movies {
		padding: 20px;
	}
}
@media (max-width: 790px) {
	.movies__title {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 20px;
	}
}
@media (max-width: 372px) {
	.movies__title h5 {
		text-align: center;
	}
}
.card {
	display: flex;
	column-gap: 20px;
	row-gap: 20px;
	flex-wrap: wrap;
	font-size: 0;
}
.card__item img {
	width: 100%;
	object-fit: cover;
	border-radius: 12px;
}
.card__item {
	display: flex;
	flex-direction: column;
	flex: 0 1 calc(100% / 4 - ((20px * 3) / 4));
	aspect-ratio: 320/404;
	row-gap: 20px;
	padding: 20px;
	border-radius: 12px;
	border: #262626;
	background: #1a1a1a;
}
.card__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
}
.card__time {
	display: flex;
	align-items: center;
	border-radius: 51px;
	gap: 2px;
	border: 1px solid #262626;
	background: #141414;
	padding: 6px 10px;
	color: #999999;
	font-size: 16px;
	font-weight: 500;
	line-height: 150%;
}
.card__time::before {
	content: "";
	background: url("../img/15/svg/time.svg") center / contain no-repeat;
	object-fit: cover;
	width: 20px;
	height: 20px;
}
.card__stars {
	display: flex;
	align-items: center;
	padding: 6px 10px 6px 6px;
	gap: 2px;
	border-radius: 51px;
	border: 1px solid #262626;
	background: #141414;
}
.card__stars img {
	width: 18px;
	max-width: 100%;
	object-fit: cover;
	aspect-ratio: 1;
}
.card__rating {
	color: #999999;
	font-size: 14px;
	font-weight: 500;
	line-height: 150%;
}
@media (max-width: 1440px) {
	.card__item {
		aspect-ratio: 253/324;
		row-gap: 16px;
		padding: 16px;
		border-radius: 10px;
	}
	.card__item img {
		border-radius: 10px;
	}
	.card__time {
		padding: 5px 9px 5px 5px;
	}
	.card__stars {
		padding: 5px 9px;
	}
}
@media (max-width: 1343px) {
	.card__item {
		row-gap: 14px;
		padding: 14px;
	}
	.card__time::before {
		width: 16px;
		height: 16px;
	}
	.card__stars img {
		width: 14px;
	}
	.card__time {
		font-size: 12px;
		padding: 4px 6px 4px 4px;
	}
	.card__stars {
		padding: 4px 6px;
	}
	.card__rating {
		font-size: 12px;
	}
}
@media (max-width: 1126px) {
	.card__item {
		row-gap: 12px;
		padding: 12px;
	}
	.card__time::before {
		width: 14px;
		height: 14px;
	}
	.card__time {
		font-size: 8px;
	}
	.card__stars img {
		width: 12px;
	}
	.card__rating {
		font-size: 8px;
	}
}
@media (max-width: 890px) {
	.card__item {
		flex: 0 1 calc(100% / 3 - ((20px * 2) / 3));
		row-gap: 16px;
		padding: 10px;
	}
	.card__time {
		font-size: 12px;
	}
	.card__rating {
		font-size: 12px;
	}
}
@media (max-width: 790px) {
	.card__item {
		flex: 0 1 calc(100% / 2 - ((20px * 1) / 2));
		row-gap: 16px;
		padding: 16px;
	}
	.card__time {
		font-size: 12px;
		padding: 6px 10px;
	}
	.card__rating {
		font-size: 12px;
	}
	.card__time::before {
		width: 16px;
		height: 16px;
	}
	.card__stars {
		padding: 6px 8px;
	}
	.card__stars img {
		width: 14px;
	}
}
@media (max-width: 612px) {
	.card__item {
		flex: 0 1 calc(100% / 1);
		row-gap: 20px;
	}
	.card__time {
		gap: 2px;
		padding: 6px 10px;
	}
	.card__time::before {
		width: 20px;
		height: 20px;
	}
	.card__stars {
		padding: 6px 10px 6px 6px;
		gap: 2px;
	}
	.card__stars img {
		width: 18px;
	}
	.card__rating {
		font-size: 14px;
	}
}
@media (max-width: 340px) {
	.card__time {
		font-size: 10px;
		padding: 4px 8px;
	}
	.card__rating {
		font-size: 10px;
	}
	.card__time::before {
		width: 14px;
		height: 14px;
	}
	.card__stars {
		padding: 4px 8px;
	}
	.card__stars img {
		width: 12px;
	}
}
.genres {
	padding-block-start: 75px;
}
.genres__content {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 50px;
	border-radius: 12px;
	border: 1px solid #262626;
	padding: 50px;
}
.genres__show {
	position: absolute;
	top: -25px;
	left: 50px;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	line-height: 150%;
	padding: 10px 24px;
	border-radius: 8px;
	background: #e50000;
}
.genres__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}
.genres__title h5 {
	color: #ffffff;
	font-size: 38px;
	font-weight: 700;
	line-height: 150%;
}
.genres__scroll {
	display: flex;
	align-items: center;
	gap: 16px;
	border-radius: 12px;
	border: 1px solid #1f1f1f;
	background: #0f0f0f;
	flex-basis: 13%;
	padding: 16px;
	cursor: pointer;
}
.genres__left {
	padding: 14px;
	border-radius: 8px;
	border: 1px solid #1f1f1f;
	background: #1a1a1a;
	transition: all 0.5s;
}
.genres__left::before {
	content: "";
	background: url("../img/15/svg/arrowleft.svg") center / contain no-repeat;
	padding: 6px;
	width: 17px;
	height: 17px;
}
.genres__left:hover {
	background: #e50000;
	transition: all 0.5s;
}
.genres__right {
	padding: 14px;
	border-radius: 8px;
	border: 1px solid #1f1f1f;
	background: #1a1a1a;
	transition: all 0.5s;
}
.genres__right::after {
	content: "";
	background: url("../img/15/svg/arrow.svg") center / contain no-repeat;
	padding: 6px;
	width: 17px;
	height: 17px;
}
.genres__right:hover {
	background: #e50000;
	transition: all 0.5s;
}
.cards {
	display: flex;
	/* flex-wrap: wrap; */
	gap: 30px;
	align-items: flex-start;
}
.cards__genres {
	padding: 30px;
	flex: 0 1 19%;
	background-color: #1a1a1a;
	border-radius: 12px;
	border: 1px solid #262626;
}
.cards__images {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 5px;
}
.cards__images::before {
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1a1a1a 101.79%);
}
.cards__img {
	flex: 0 1 calc(50% - 2.5px);
	aspect-ratio: 105 / 123;
	border-radius: 10px;
	background-color: grey;
	overflow: hidden;
}
.cards__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.cards__footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
	color: #ffffff;
}
.cards__genre {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.5;
	text-transform: capitalize;
}
.cards__arrow img {
	flex: 0 0 19px;
}

@media (max-width: 1440px) {
	.genres__content {
		gap: 40px;
		padding: 40px;
	}
	.genres__show {
		font-size: 16px;
	}
	.genres__title h5 {
		font-size: 30px;
	}
	.genres__scroll {
		gap: 12px;
		border-radius: 10px;
		padding: 12px;
	}
	.genres__left {
		padding: 10px;
		border-radius: 6px;
	}
	.genres__left::before {
		width: 15px;
		height: 15px;
	}
	.genres__right {
		padding: 10px;
		border-radius: 6px;
	}
	.genres__right::after {
		width: 15px;
		height: 15px;
	}
	.cards {
		gap: 20px;
	}
	.cards__genres {
		padding: 24px;
		border-radius: 10px;
	}
	.cards__row img {
		border-radius: 6px;
		aspect-ratio: 85 / 91;
	}
	.cards__genre {
		font-size: 16px;
	}
}
@media (max-width: 1390) {
	.genres__content {
		gap: 30px;
		padding: 30px;
	}
}
@media (max-width: 1350px) {
	.cards {
		flex-wrap: wrap;
	}
	.cards__genres {
		flex: 0 1 calc(100% / 5 - ((20px * 4) / 5));
	}
}
@media (max-width: 1126px) {
	.genres__title h5 {
		font-size: 24px;
	}
	.genres__content {
		gap: 20px;
		padding: 20px;
	}
	.genres__show {
		font-size: 14px;
	}
	.genres__title h5 {
		font-size: 24px;
	}
	.cards__genres {
		flex: 0 1 calc(100% / 4 - ((20px * 3) / 4));
	}
	.cards__row img {
		aspect-ratio: 85 / 91;
	}
	.cards__row img {
		border-radius: 6px;
		aspect-ratio: 68 / 67;
	}
}
@media (max-width: 980px) {
	.cards__genres {
		flex: 0 1 calc(100% / 3 - ((20px * 2) / 3));
	}
	.cards__row img {
		aspect-ratio: 85 / 91;
	}
}
@media (max-width: 790px) {
	.genres__content {
		gap: 40px;
		padding: 40px;
	}
	.genres__show {
		display: none;
	}
	.genres__title {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	.genres__title h5 {
		font-size: 30px;
	}
	.genres__scroll {
		gap: 12px;
		border-radius: 10px;
		padding: 12px;
	}
	.genres__left {
		padding: 10px;
		border-radius: 6px;
	}
	.genres__left::before {
		width: 15px;
		height: 15px;
	}
	.genres__right {
		padding: 10px;
		border-radius: 6px;
	}
	.genres__right::after {
		width: 15px;
		height: 15px;
	}
	.cards {
		gap: 20px;
	}
	.cards__genres {
		padding: 24px;
		border-radius: 10px;
	}
	.cards__row img {
		border-radius: 6px;
		aspect-ratio: 85 / 91;
	}
	.cards__genre {
		font-size: 16px;
	}
	.cards__genres {
		flex: 0 1 calc(100% / 2 - ((20px * 1) / 2));
	}
}
@media (max-width: 612px) {
	.cards__genres {
		flex: 0 1 calc(100% / 1);
		font-size: 14px;
	}
}
