/* google fonts */

@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500);

/* null */

@import url("reset.css");

/*--------------------*/

/* --------@keyframes---------- */

/* ------------------------- */
body {
	background-color: #fff;
	font-family: "Roboto", sans-serif;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1145px;
	padding-inline: 15px;
	margin-inline: auto;
}
.page {
	width: 100%;
}
/* ----------------------------------- */
header {
	position: sticky;
	top: 0;
	z-index: 999;
}
.header {
}
.header__container {
	min-height: 60px;
}
.nav {
	display: flex;
	align-items: center;
	column-gap: 15px;
	padding-block: 18px;
	justify-content: space-between;
}
.nav__navigation {
}
.nav__body {
}
.nav__items {
	display: flex;
	column-gap: 30px;
}
.nav__item {
}
.nav__link {
}
.nav__logo {
	color: #37447e;
	font-size: 26px;
	font-weight: 900;
	line-height: 146.154%;
	animation: shakex 3s ease-in-out 0.3 forwards;
}
@keyframes shakex {
	from,
	to {
		transform: translate3d(0, 0, 0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translate3d(-10px, 0, 0);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translate3d(10px, 0, 0);
	}
}
.nav__navigation {
}
.nav__link {
	color: #505f98;
	font-size: 14px;
	line-height: 171.429%;
	/* transition: all 0.4s; */
}
@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.2, 1.2, 1.2);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}
.nav__buttons {
	justify-content: flex-end;
}
.nav__button {
	display: inline-flex;
	color: #fff;
	text-align: center;
	font-size: 12px;
	font-weight: 500;
	line-height: 150%;
	border-radius: 2px;
	background: #111b47;
	padding: 9px 50px;
	transition: 0.7s;
}
.nav__menu-icon {
}
.icon-menu {
	display: none;
}

/* @media requests */

@media (max-width: 974px) {
	.header__container {
		min-height: 60px;
	}
	.nav__logo svg {
		width: 40px;
		aspect-ratio: 1;
	}
}
@media (min-width: 974px) {
	.nav__items {
		column-gap: 60px;
	}
	/* .nav__buttons {
		flex-basis: 147px;
	} */
}
@media (min-width: 771px) {
	.nav__item:nth-child(5) {
		display: none;
	}
}
@media (max-width: 770px) {
	.nav__buttons {
		display: none;
		column-gap: 10px;
		display: flex;
		align-items: center;
	}
	.icon-menu {
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		flex-basis: 30px;
	}
	.icon-menu span {
		margin-block: 6px;
	}
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		content: "";
		height: 2px;
		z-index: 3;
		transition: all 0.3s;
		width: 100%;
		background-color: #505f98;
	}
	.open-menu .nav__body,
	.open-menu .nav__body::before {
		inset-inline-start: 0;
	}
	.open-menu .icon-menu span {
		width: 0;
		height: 0;
		margin: 0;
	}
	.open-menu .icon-menu::before {
		transform: rotate(45deg) translateY(1.5px);
	}
	.open-menu .icon-menu::after {
		transform: rotate(-45deg) translateY(-1.5px);
	}
	.nav__body {
		position: fixed;
		inset-inline-start: 100%;
		inset-block-start: 0;
		inline-size: 100%;
		block-size: 100%;
		z-index: 2;
		background-color: #8082a5;
		transition: all 0.5s;

		overflow: auto;
		padding: 100px 15px 30px;
	}
	.nav__body::before {
		content: "";
		position: fixed;
		block-size: 60px;
		inline-size: 100%;
		inset-inline-start: 100%;
		inset-block-start: 0;
		z-index: 3;
		background-color: #8082a5;
		transition: inset-inline-start 0.5s;
	}

	.nav__items {
		flex-direction: column;
		border: none;
		align-items: flex-end;
		row-gap: 25px;
	}
	.nav__link {
		font-size: 25px;
		padding: 0;
	}
}

@media (max-width: 430px) {
	.nav__button {
		display: none;
	}
}
@media (any-hover: hover) {
	.nav__button:hover {
		background-color: #ef6d58;
		transform: scale(0.9);
		transition: 0.7s;
	}
	.nav__link:hover {
		animation: pulse 1s ease-in-out;
		/* transition: all 0.4s; */
	}
}
