/* google fonts */

@import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap");

/* null */

@import url("reset.css");

/*--------------------*/

/* --------@keyframes---------- */

/* ------------------------- */
body {
	font-family: "Work Sans", sans-serif;
	background-color: #ffffff;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 84.375rem;
	padding-inline: 0.9375rem;
	margin-inline: auto;
}
.page {
	width: 100%;
}
/* ----------------------------------- */
.header {
	background-color: #ffffff;
}
.header__container {
	min-height: 6rem;
	display: grid;
	grid-template-columns: 1fr 1fr auto;
	align-items: center;
	column-gap: 1.5rem;
	padding: 1.25rem;
}
.header__logo {
	display: flex;
	position: relative;
	z-index: 99;
	column-gap: 0.75rem;
	align-items: center;
}
.header__name {
	color: #132238;
	font-size: clamp(1rem, -1.771rem + 4.57vw, 2rem);
	font-weight: 600;
	line-height: 1.25;
}
.nav__items {
	display: flex;
	column-gap: 2.1875rem;
}
.nav__link {
	color: #333;
	font-weight: 500;
	line-height: 1.5;
}
.nav__a {
	position: relative;
	text-decoration: none;
	color: #282c34;
}
.nav__a::after {
	left: 50%;
	transform: translate(-50%);
	position: absolute;
	content: "";
	bottom: 0;
	display: block;
	width: 0;
	height: 0.0625rem;
	background: #282c34;
	transition: 0.3s;
}
.header__buttons {
	justify-self: end;
}
.header__button {
	position: relative;
	z-index: 99;
	color: #ffffff;
	text-align: center;
	font-weight: 600;
	line-height: 1.5;
	padding: 0.75rem 1.5rem;
	border-radius: 0.25rem;
	background: #a53dff;
	transition: 0.6s;
}
.icon-menu {
	display: none;
}
/* ------------HEADER HOVER------------- */

@media (any-hover: hover) {
	.header__button:hover {
		transform: scale(0.9);
		transition: 0.6s;
	}
}

/* ----------------HERO---------------- */
.hero {
	padding-block-start: clamp(2.5rem, 0.78rem + 8.6vw, 7.875rem);
	padding-block-end: clamp(1.25rem, -0.47rem + 8.6vw, 6.625rem);
}
.hero__container {
	display: grid;
	row-gap: clamp(1.25rem, 0.056rem + 5.97vw, 3.75rem);
	position: relative;
}
.hero__container::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: -56.25rem;
	right: -49.8125rem;
	width: 54.4508rem;
	height: 54.4508rem;
	transform: rotate(-130.444deg);
	border-radius: 54.4508rem;
	background: rgba(218, 77, 241, 0.4);
	filter: blur(18.75rem);
}
.hero__container::after {
	content: "";
	width: 65.2698rem;
	height: 65.2698rem;
	position: absolute;
	z-index: -2;
	top: 12.125rem;
	right: -50rem;
	transform: rotate(-130.444deg);
	border-radius: 65.2698rem;
	background: rgba(196, 245, 233, 0.7);
	filter: blur(18.75rem);
}
.hero__section {
	align-content: flex-end;
}
.hero__info {
	display: flex;
	flex-direction: column;
	row-gap: 1.5rem;
	margin-block-end: clamp(1.25rem, -21.625rem + 36.97vw, 8.875rem);
}
.hero__title {
	color: #132238;
	font-size: clamp(2.625rem, 2.025rem + 3vw, 4.5rem);
	font-weight: 600;
	line-height: 116.66%;
}
.hero__text {
	color: #556070;
	font-size: clamp(1rem, 0.96rem + 0.2vw, 1.125rem);
	line-height: 133.333%;
}
.hero__text,
p:first-child {
	padding-block-end: 1rem;
}
.hero__text span {
	color: #132238;
	font-size: clamp(1rem, 0.96rem + 0.2vw, 1.125rem);
	line-height: 1.5rem;
	background: linear-gradient(to top, #ffc8c8 50%, transparent 50%);
}
.hero__button {
	padding: 0.75rem 1.5rem;
	border-radius: 0.25rem;
	background: #a53dff;
	align-self: flex-start;
	color: #ffffff;
	font-weight: 600;
	line-height: 1.5;
	text-transform: capitalize;
	transition: 0.6s;
}
.hero__analysis {
	display: grid;
	row-gap: 0.1875rem;
}
.hero__item {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
	border-radius: 0.375rem;
	border: 0.0625rem solid #ffffff;
	background: rgba(237, 216, 255, 0.5);
	padding-block: 1.0625rem;
	align-items: center;
}
.hero__year,
.hero__quantity,
.hero__number {
	color: #424e60;
	text-align: center;
	font-size: clamp(1.25rem, 1.01rem + 1.2vw, 2rem);
	font-weight: 600;
	line-height: 1.25;
}
.hero__exp,
.hero__project,
.hero__client {
	color: #697484;
	text-align: center;
	line-height: 1.5;
}
.hero__image {
	aspect-ratio: 536/636;
	box-shadow: 0rem 1.5rem 7.25rem 0rem rgba(43, 56, 76, 0.09);
	border-radius: 1.5625rem;
	background-color: #ffffff;
	overflow: hidden;
}
.hero__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* -------------HERO MEDIA-------------- */
@media (min-width: 61.875rem) {
	.hero__container {
		grid-template-columns: 1.2fr 1fr;
		column-gap: clamp(1.875rem, -0.245rem + 10.6vw, 8.5rem);
	}
}
@media (min-width: 31.25rem) {
	.hero__analysis {
		grid-template-columns: repeat(3, 1fr);
		column-gap: 0.1875rem;
	}
}

/* --------------PROJECT--------------- */
.project {
	padding-block-start: clamp(1.25rem, -0.47rem + 8.6vw, 6.625rem);
}
.project__container {
	position: relative;
}
.project__body {
	border-radius: 1rem;
	background: #fff;
	box-shadow: 0rem 2.25rem 6.5625rem 0rem rgba(43, 56, 76, 0.1);
	display: grid;
	justify-content: center;
	justify-items: center;
	row-gap: 3.125rem;
	padding: clamp(1.25rem, -0.59rem + 9.2vw, 7rem);
	/* 38.6861%; 424/1096 */
	/* 12.4088%; 136/1096 */
	/* 48.9051%; 536/1096 */
}
.project__container::before {
	content: "";
	border-radius: 92.5625rem;
	z-index: -1;
	position: absolute;
	top: -13.25rem;
	left: -4.9375rem;
	width: 92.5625rem;
	height: 92.5625rem;
	background: linear-gradient(182deg, rgba(255, 234, 198, 0.2) -157.44%, rgba(255, 234, 198, 0.14) 216.94%, rgba(255, 234, 198, 0.13) 216.94%);
	filter: blur(21.875rem);
}
.project__container::after {
	content: "";
	z-index: -1;
	position: absolute;
	width: 33.8125rem;
	height: 14.125rem;
	top: 23.125rem;
	left: -18.75rem;
	transform: rotate(-30deg);
	border-radius: 33.8125rem;
	background: linear-gradient(182deg, #ffdfa8 -157.44%, rgba(255, 226, 176, 0.96) -157.4%, rgba(255, 234, 198, 0.67) 216.94%, rgba(250, 211, 144, 0.8) 216.94%);

	filter: blur(6.25rem);
}
.project__socials {
	display: flex;
	flex-direction: column;
}
.project__image {
	aspect-ratio: 424/468;
	border-radius: 0.625rem;
	border: 0.0625rem solid #f0f1f3;
	background:
		lightgray -14.5854rem 0.75rem / 205.425% 124.089% no-repeat,
		#f0f1f3;
	box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
}
.project__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.625rem;
}
.project__social {
	display: flex;
	align-items: center;
	margin-inline: auto;
	width: fit-content;
	transform: translatey(-50%);
	padding: 0.75rem;
	border-radius: 0.25rem;
	background: #ffffff;
	box-shadow: 0rem 0.75rem 4rem 0rem rgba(28, 25, 25, 0.12);
}
.project__link-social {
	padding: 0.4063rem;
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1;
	width: 3rem;
	transition: 0.3s;
}
.project__link-social svg {
	width: 1.125rem;
	height: 1.125rem;
	object-fit: contain;
}
.project__behance {
	align-self: flex-end;
}
.project__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 2rem;
}
.project__title {
	color: #132238;
	font-size: clamp(1.25rem, 0.89rem + 1.8vw, 2.375rem);
	font-weight: 600;
	line-height: 131.579%;
}
.project__text {
	color: #556070;
	font-size: clamp(1rem, 0.96rem + 0.2vw, 1.125rem);
	line-height: 133.333%;
}
.project__buttons {
	display: flex;
	/* display: grid;
	grid-template-columns: 1fr 1.69047fr; */
	/* (0,59154) */
	column-gap: 1rem;
}
.project__button {
	color: #fff;
	font-weight: 600;
	line-height: 1.5;
	padding: 0.75rem 1.5rem;
	border-radius: 0.25rem;
	background: #a53dff;
	transition: 0.6s;
}
.project__cv {
	color: #a53dff;
	display: flex;
	align-items: center;
	column-gap: 0.75rem;
	font-weight: 600;
	line-height: 1.5;
	padding: 0.75rem 1.5rem;
	border-radius: 0.25rem;
	border: 0.0625rem solid #a53dff;
	background: #fff;
	transition: 0.6s;
}
.project__cv::before {
	content: "";
	background: url("../img/svg/download.svg") center no-repeat;
	width: 1.5rem;
	height: 1.5rem;
}
/* ------------PROJECT MEDIA------------- */
@media (min-width: 50rem) {
	.project__body {
		grid-template-columns: 0.79104fr 1.26fr;
		column-gap: clamp(2.5rem, -15.5rem + 29.09vw, 8.5rem);
	}
}
@media (max-width: 50rem) {
	.project__socials {
		order: 2;
	}
	.project__info {
		order: 1;
	}
}
@media (max-width: 26.875rem) {
	.project__buttons {
		flex-direction: column;
		row-gap: 1rem;
	}
}
/* ----------------WORK----------------- */

.work {
	margin-block-start: -9.375rem;
}
.work__process {
	background: #f0f1f3;
	padding-block-start: clamp(12.5rem, 11.54rem + 4.8vw, 15.5rem);
	padding-block-end: clamp(3.125rem, 1.325rem + 9vw, 8.75rem);
}
.work__container {
	display: grid;
	row-gap: 1.875rem;
}
.work__block {
	align-content: center;
	/* row-gap: 1.5rem; */
}
.work__title {
	color: #132238;
	font-size: clamp(2.375rem, 2.175rem + 1vw, 3rem);
	font-weight: 600;
	line-height: 116.667%;
	margin-block-end: 1.5rem;
}
.work__text {
	color: #697484;
	font-size: clamp(1rem, 0.96rem + 0.2vw, 1.125rem);
	line-height: 133.333%;
}
.work__text,
p:first-child {
	padding-block-end: 1rem;
}
.block {
	display: grid;
}
.block__item {
	display: flex;
	flex-direction: column;
	/* padding: clamp(0.625rem, 0.185rem + 2.2vw, 2rem); */
	padding: 2rem;
	border-radius: 0.75rem;
	background: #fff;
	box-shadow: 2rem 2rem 7.75rem 0rem rgba(43, 56, 76, 0.1);
}
.block__image {
	margin-block-end: 2rem;
	display: flex;
	border-radius: 0.375rem;
	padding: 1.25rem;
	background-color: rgba(237, 216, 255, 0.5);
	aspect-ratio: 1;
	width: fit-content;
	transition: 0.4s;
}
.block__image svg {
	width: 2rem;
	height: 2rem;
	object-fit: contain;
}
.block__item h3 {
	color: #132238;
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.2;
	margin-block-end: 0.75rem;
}
.block__text {
	color: #556070;
	line-height: 1.5;
}
/* --------------WORK MEDIA---------------*/

@media (min-width: 61.9375rem) {
	.work__container {
		grid-template-columns: 1fr 1.22495fr;
		column-gap: clamp(1.25rem, -21.813rem + 37.27vw, 8.938rem);
	}
	.work__info {
		justify-items: end;
	}
	.block {
		grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
		column-gap: 1.5rem;
	}
	.block__item:nth-child(odd) {
		margin-block-end: 1.5rem;
	}
	.block__item:nth-child(even) {
		margin-block-start: 1.5rem;
	}
}
@media (min-width: 34.375rem) {
	.block {
		grid-template-columns: 1fr 1fr;
	}
}
@media (max-width: 61.875rem) {
	.block {
		gap: 1.25rem;
	}
}
/* --------------PORTFOLIO-------------- */
.portfolio {
	padding-block-start: clamp(3.125rem, 2.125rem + 5vw, 6.25rem);
	padding-block-end: clamp(1.563rem, 1.063rem + 2.5vw, 3.125rem);
}
.portfolio__header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 1.5rem;
	margin-block-end: 4.375rem;
}
.portfolio__title {
	color: #132238;
	font-size: clamp(1.5rem, 1.02rem + 2.4vw, 3rem);
	font-weight: 600;
	line-height: 116.667%;
}
.portfolio__text {
	color: #87909d;
	text-align: center;
	font-size: clamp(1rem, 0.96rem + 0.2vw, 1.125rem);
	line-height: 133.333%;
	max-width: 36.0625rem;
}
.portfolio__items {
	display: grid;
	gap: clamp(0.625rem, 0.345rem + 1.4vw, 1.5rem);
	margin-block-end: 3.125rem;
}
.portfolio__item {
	border-radius: 0.5rem;
	border: 0.0625rem solid #e6e8eb;
	background: #fff;
	box-shadow: 0rem 0.75rem 4rem 0rem rgba(28, 25, 25, 0.12);
	transition: 0.4s;
}
.portfolio__link {
	width: 100%;
}
.portfolio__image {
	aspect-ratio: 424/248;
}
.portfolio__image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.portfolio__product {
	padding: 2rem;
}
.portfolio__label {
	color: #87909d;
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 133.333%;
	margin-block-end: 0.25rem;
}
.portfolio__subtitle {
	color: #132238;
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 133.333%;
	margin-block-end: 0.75rem;
}
.portfolio__info {
	color: #556070;
	font-size: 0.875rem;
	line-height: 142.857%;
	margin-block-end: 1.25rem;
}
.portfolio__button {
	display: inline-flex;
	column-gap: 0.75rem;
	align-items: flex-end;
	text-align: center;
	border-radius: 0.25rem;
	border: 0.0625rem solid #a53dff;
	background: #fff;
	padding: 0.75rem 1.5rem;
	color: #a53dff;
	font-weight: 600;
	line-height: 1.5;
	transition: 0.3s;
}
.portfolio__button svg {
	width: 0.75rem;
	height: 0.75rem;
	object-fit: contain;
	align-self: center;
}
.portfolio__box {
	display: flex;
	justify-content: center;
	align-items: center;
}
.portfolio__project {
	padding: 0.75rem 1.5rem;
	text-align: center;
	border-radius: 0.25rem;
	background: #a53dff;
	color: #fff;
	font-weight: 600;
	line-height: 1.5;
	transition: 0.6s;
}
/* -----------PORTFOLIO MEDIA------------ */

@media (min-width: 25.625rem) {
	.portfolio__items {
		grid-template-columns: repeat(auto-fill, minmax(23.5rem, 1fr));
		/* grid-template-columns: repeat(3, 1fr); */
		margin-block-end: 3.125rem;
	}
}
@media (max-width: 50.625rem) {
	.portfolio__items {
		column-gap: 0.3125rem;
	}
}

/* -----------------IDEA---------------- */

.idea {
	padding-block-start: 3.125rem;
	padding-block-end: 3.125rem;
}
.idea__block {
	background: #132238;
}
.idea__container {
	padding-block: 6.25rem;
}
.idea__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-inline: auto;
	row-gap: 2rem;
	flex-direction: column;
	max-width: 38.8125rem;
}
.idea__title {
	color: #fff;
	text-align: center;
	font-size: clamp(1.875rem, 1.515rem + 1.8vw, 3rem);
	font-weight: 600;
	line-height: 116.667%;
}
.idea__text {
	color: #a5acb5;
	text-align: center;
	font-size: clamp(1rem, 0.96rem + 0.2vw, 1.125rem);
	line-height: 133.333%;
}
.idea__button {
	display: inline-flex;
	padding: 0.75rem 1.5rem;
	justify-content: center;
	align-items: center;
	column-gap: 0.75rem;
	border-radius: 0.25rem;
	background: #a53dff;
	color: #fff;
	font-weight: 600;
	line-height: 1.5;
	transition: 0.6s;
}
.idea__button::after {
	content: "";
	background: url("../img/svg/whitearrow.svg") center no-repeat;
	width: 1.5rem;
	height: 1.5rem;
}
/* ----------------BLOG----------------- */

.blog {
	padding-block-start: 3.125rem;
	padding-block-end: clamp(3.125rem, 2.125rem + 5vw, 6.25rem);
}
.blog__container {
	position: relative;
}
.blog__container::before {
	content: "";
	background-color: #da4df1;
	position: absolute;
	width: 54.4508rem;
	height: 54.4508rem;
	transform: rotate(-130.444deg);
	border-radius: 54.4508rem;
	background: rgba(218, 77, 241, 0.4);
	filter: blur(15.625rem);
	top: -44.8125rem;
	left: -57.25rem;
	z-index: -1;
	aspect-ratio: 1;
}
.blog__container::after {
	content: "";
	background-color: #c4f5e9;
	position: absolute;
	top: -39.9375rem;
	right: -64.9375rem;
	aspect-ratio: 1;
	z-index: -1;
	width: 65.2698rem;
	height: 65.2698rem;
	transform: rotate(-130.444deg);
	border-radius: 65.2698rem;
	background: rgba(196, 245, 233, 0.7);
	filter: blur(18.75rem);
}
.blog__header {
	max-width: 33.75rem;
	margin-inline: auto;
	margin-block-end: 4.375rem;
}
.blog__title {
	color: #132238;
	text-align: center;
	font-size: clamp(1.875rem, 1.515rem + 1.8vw, 3rem);
	font-weight: 600;
	line-height: 116.667%;
	margin-block-end: 1.5rem;
}
.blog__text {
	color: #87909d;
	text-align: center;
	font-size: clamp(1rem, 0.96rem + 0.2vw, 1.125rem);
	line-height: 144.444%;
}
.blog__items {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
	column-gap: 1.5rem;
	row-gap: 1.5rem;
	margin-block-end: 1.5rem;
}
.blog__item {
	border-radius: 0.5rem;
	border: 0.0625rem solid #f0f1f3;
	background: #fff;
	box-shadow: 0rem 0.75rem 4rem 0rem rgba(28, 25, 25, 0.12);
	transition: 0.4s;
}
.blog__link {
	width: 100%;
}
.blog__image {
	aspect-ratio: 312/226;
}
.blog__image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}
.blog__comments {
	padding: 1.5rem;
}
.blog__comment {
	color: #87909d;
	font-size: 0.875rem;
	line-height: 142.857%;
	margin-block-end: 0.5rem;
}
.blog__label {
	color: #333;
	font-size: clamp(1rem, 0.96rem + 0.2vw, 1.125rem);
	font-weight: 500;
	line-height: 133.333%;
}
.blog__controllers {
	display: flex;
	justify-content: center;
	column-gap: 0.75rem;
}
.blog__controller {
	width: 0.5rem;
	height: 0.5rem;
	background: #c3c7ce;
	border-radius: 50%;
	transition: 0.4s;
}
.blog__controller--01 {
	width: 1.875rem;
	height: 0.5rem;
	border-radius: 6.25rem;
	background: #210c33;
}
/* --------------BLOG MEDIA------------- */

/* ---------USER EXPERIENCE------------ */

.user {
	padding-block: clamp(3.125rem, 1.125rem + 10vw, 9.375rem);
	background: #f0f1f3;
}
.user__container {
	display: grid;
	column-gap: clamp(1.25rem, -1.21rem + 12.3vw, 8.938rem);
	align-items: center;
	row-gap: 1.5625rem;
}
.what {
	flex: 0 0 40.07575%;
}
.what__title {
	color: #333;
	font-size: clamp(1.875rem, 1.515rem + 1.8vw, 3rem);
	font-weight: 600;
	line-height: 116.667%;
	margin-block-end: 1.5rem;
}
.what__text {
	color: #87909d;
	font-size: clamp(1rem, 0.96rem + 0.2vw, 1.125rem);
	line-height: 133.333%;
	margin-block-end: 3.125rem;
}
.what__button {
	border-radius: 0.25rem;
	background: #a53dff;
	padding: 0.75rem 1.5rem;
	color: #fff;
	font-weight: 600;
	line-height: 1.5;
	transition: 0.6s;
}
.user__items {
	flex: 0 0 49.0909%;
}
.user__item {
	padding: 2rem;
	border-radius: 0.375rem;
	background: #fff;
	box-shadow: 0rem 2rem 6rem 0rem rgba(28, 25, 25, 0.16);
	transition: 0.2s;
	border-left: 0.3125rem solid transparent;
}
.user__item:not(:last-child) {
	margin-block-end: 1.5rem;
}
.user__title {
	color: #132238;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 100%;
	margin-block-end: 1rem;
}
.user__text {
	color: #424e60;
	line-height: 1.5;
}
/* --------------USER MEDIA------------- */

@media (min-width: 61.875rem) {
	.user__container {
		grid-template-columns: 1fr 1.10396fr;
	}
}

/* ------------CLIENTS----------------- */

.clients {
	padding-block-start: clamp(3.125rem, 2.125rem + 5vw, 6.25rem);
	padding-block-end: 3.125rem;
}
.clients__header {
	max-width: 36.0625rem;
	margin-inline: auto;
	margin-block-end: 1.5rem;
}
.clients__title {
	color: #132238;
	text-align: center;
	font-size: clamp(1.875rem, 1.515rem + 1.8vw, 3rem);
	font-weight: 600;
	line-height: 116.667%;
	margin-block-end: 1.5rem;
}
.clients__text {
	color: #87909d;
	text-align: center;
	font-size: clamp(1rem, 0.96rem + 0.2vw, 1.125rem);
	line-height: 133.333%;
}
.clients__items {
	display: flex;
	flex-wrap: wrap;
	column-gap: clamp(1.5rem, 0.3rem + 6vw, 5.25rem);
	justify-content: center;
	align-items: center;
}
.clients__item {
	aspect-ratio: 200/200;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.4s;
}
.clients__item svg {
	width: 8.75rem;
	object-fit: contain;
}
.clients__item:nth-child(4) {
	align-self: flex-end;
}
.clients__item img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
/* -------------TESTIMONIAL------------- */

.testimonial {
	padding-block-start: clamp(1.25rem, 0.65rem + 3vw, 3.125rem);
	padding-block-end: clamp(3.125rem, 2.125rem + 5vw, 6.25rem);
}
.testimonial__container {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.testimonial__container::before {
	content: "";
	position: absolute;
	width: 92.5625rem;
	height: 92.625rem;
	top: -12rem;
	left: -7.4375rem;
	border-radius: 92.625rem;
	background: linear-gradient(182deg, rgba(255, 234, 198, 0.2) -157.44%, rgba(255, 234, 198, 0.14) 216.94%, rgba(255, 234, 198, 0.13) 216.94%);
	filter: blur(21.875rem);
	z-index: -1;
}
.testimonial__header h2 {
	color: #333;
	text-align: center;
	font-size: clamp(1.875rem, 1.515rem + 1.8vw, 3rem);
	font-weight: 600;
	line-height: 116.667%;
	margin-block-end: 1.5rem;
}
.testimonial__header p {
	color: #87909d;
	text-align: center;
	font-size: 1.125rem;
	line-height: 133.333%;
	max-width: 36.0625rem;
	margin-block-end: 4.375rem;
}
.testimonial__quote {
	color: #2b384c;
	text-align: center;
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 133.333%;
	max-width: 54.5rem;
	margin-block-end: 1.5rem;
}
.testimonial__name {
	color: #000;
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 144.444%;
	margin-block-end: 0.5rem;
}
.testimonial__signature {
	color: #000;
	font-weight: 300;
	line-height: 1.5;
	margin-block-end: 3.125rem;
}
.testimonial__controllers {
	display: flex;
	justify-content: center;
	column-gap: 0.75rem;
}
.testimonial__controller {
	width: 0.5rem;
	height: 0.5rem;
	background: #c3c7ce;
	border-radius: 50%;
	transition: 0.4s;
}
.testimonial__controller--01 {
	width: 1.875rem;
	height: 0.5rem;
	border-radius: 6.25rem;
	background: #210c33;
}
/* ----------------FORM----------------- */
.form {
	position: relative;
	z-index: 2;
}

.form__body {
	display: grid;
	row-gap: 2.5rem;
	padding: clamp(1.25rem, -0.11rem + 6.8vw, 5.5rem);
	border-radius: 0.9375rem;
	background: #fff;
	box-shadow: 0rem 3.6875rem 7.75rem 0rem rgba(0, 0, 0, 0.12);
}
.address {
	display: flex;
	flex-direction: column;
	row-gap: 2.1875rem;
}
.address__title {
	color: #132238;
	font-size: clamp(1.5rem, 1.22rem + 1.4vw, 2.375rem);
	font-weight: 600;
	line-height: 131.579%;
	margin-block-end: 1rem;
}
.address__text {
	color: #87909d;
	font-size: clamp(1rem, 0.96rem + 0.2vw, 1.125rem);
	line-height: 133.333%;
}
.address__item {
	display: flex;
	padding: 1.5rem;
	align-items: center;
	column-gap: 0.8125rem;
}
.address__type {
	color: #424e60;
	font-size: 0.875rem;
	line-height: 142.857%;
}
address {
	color: #132238;
	font-weight: 500;
	line-height: 1.5;
}
.address__info a {
	color: #132238;
	font-weight: 500;
	line-height: 1.5;
}
.address__item svg {
	width: 3rem;
	height: 3rem;
	object-fit: contain;
}
.address__socials {
	display: flex;
	align-items: center;
	column-gap: 0.75rem;
}
.address__image {
	padding: clamp(0.625rem, 0.525rem + 0.5vw, 0.938rem);
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1;
	transition: 0.3s;
}
.address__image svg {
	width: 1.125rem;
	height: 1.125rem;
	object-fit: contain;
}
.address__image:nth-child(3) {
	align-self: flex-end;
}
.form__block {
	display: flex;
	flex-direction: column;
	align-self: center;
	row-gap: 3.125rem;
}
.form__text {
	color: #87909d;
	font-size: clamp(1rem, 0.96rem + 0.2vw, 1.125rem);
	line-height: 133.333%;
}
.field {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.field__block textarea {
	padding-bottom: 1.5rem;
	resize: vertical;
}
.field__text {
	outline: none;
	border-bottom: 0.0938rem solid #e6e8eb;
	padding-bottom: 0.875rem;
	transition: all 0.4s;
}
.field__text:hover {
	border-bottom: 0.0938rem solid #a53dff;
	transition: all 0.4s;
}
.field__block input:hover::placeholder {
	color: #a53dff;
}
.budject {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1.5rem;
}
.budject__block:nth-child(1) {
	flex: 1 0 35%;
}
.budject__block:nth-child(2) {
	flex: 1 0 60%;
}
.budject__text {
	outline: none;
	border-bottom: 0.0938rem solid #e6e8eb;
	padding-bottom: 0.875rem;
	transition: all 0.4s;
}
.budject__text:hover {
	border-bottom: 0.0938rem solid #a53dff;
	transition: all 0.4s;
}
.form__button {
	display: flex;
	gap: 0.75rem;
	align-items: center;
	align-self: flex-start;
}
.form__button {
	padding: 0.75rem 1.5rem;
	border-radius: 0.25rem;
	background: #a53dff;
	color: #ffffff;
	transition: all 0.4s;
}
.form__button:hover {
	transform: scale(0.9);
	transition: all 0.4s;
}
.form__button::after {
	content: "";
	background: url("../img/svg/button-arrow.svg") center no-repeat;
	width: 1.25rem;
	height: 1.25rem;
	transition: 0.7s;
}
.form__button:hover::after {
	transform: rotate(180deg);
	transition: 0.7s;
	transition: all 0.7s;
}
/* ------------FORM MEDIA--------------- */

@media (min-width: 50rem) {
	.form__body {
		grid-template-columns: 1fr 1.16424fr;
		column-gap: clamp(1.25rem, -6.731rem + 15.96vw, 6.438rem);
	}
}

/* ----------------FOOTER--------------- */

.footer {
	background-color: #2b384c;
	margin-block-start: -3.75rem;
	padding-block-start: clamp(5rem, 3.4rem + 8vw, 10rem);
	padding-block-end: 3.125rem;
	/* z-index: -1; */
}
.footer__container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 1.875rem;
	column-gap: clamp(0.625rem, -2.815rem + 17.2vw, 11.375rem);
}
.footer__logo {
	display: flex;
	align-items: center;
	column-gap: 0.75rem;
}
.footer__name {
	color: #fff;
	font-size: clamp(1rem, -1.771rem + 4.57vw, 2rem);
	font-weight: 600;
	line-height: 1.25;
}
.footer__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 1.5rem;
	row-gap: 1.5rem;
}
.footer__list li {
	color: #f0f1f3;
	line-height: 1.5;
}
.footer__a {
	position: relative;
	text-decoration: none;
}
.footer__a::after {
	left: 50%;
	transform: translate(-50%);
	position: absolute;
	content: "";
	bottom: 0;
	display: block;
	width: 0;
	height: 0.0625rem;
	background: #fff;
	transition: 0.3s;
}
.footer__copyright {
	color: #fff;
	line-height: 1.5;
}
/* ------------FOOTER MEDIA------------- */
@media (min-width: 59.375rem) {
	.footer__container {
		justify-content: space-between;
		column-gap: clamp(0.625rem, -0.175rem + 4vw, 3.125rem);
	}
}
@media (max-width: 59.375rem) {
	.footer__container {
		justify-content: space-between;
		flex-direction: column;
	}
}
/* ------------------------------------ */
/* @media requests */
@media (min-width: 60.875rem) {
	.nav__items {
		column-gap: 3rem;
	}
}
@media (max-width: 60.625rem) {
	.header__container {
		min-height: 2.5rem;
	}
	.header__name {
		display: none;
	}
}
@media (min-width: 48.1875rem) {
	.nav__item:nth-child(5) {
		display: none;
	}
}
@media (max-width: 48.125rem) {
	.header__buttons {
		display: none;
		column-gap: 0.9375rem;
		display: flex;
		align-items: center;
	}
	.icon-menu {
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		flex-basis: 1.875rem;
		width: 1.875rem;
	}
	.icon-menu span {
		margin-block: 0.375rem;
	}
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		content: "";
		height: 0.125rem;
		position: relative;
		z-index: 3;
		transition: all 0.3s;
		width: 100%;
		background-color: #000000;
	}
	.open-menu body {
		overflow: hidden;
	}
	.open-menu .nav__body,
	.open-menu .nav__body::before {
		inset-inline-start: 0;
	}
	.open-menu .icon-menu span {
		width: 0;
		height: 0;
		margin: 0;
	}
	.open-menu .icon-menu::before {
		transform: rotate(45deg) translateY(0.0938rem);
	}
	.open-menu .icon-menu::after {
		transform: rotate(-45deg) translateY(-0.0938rem);
	}
	.open-menu .icon-menu::before,
	.open-menu .icon-menu::after {
		content: "";
		background-color: #000000;
	}
	.nav__body {
		position: fixed;
		inset-inline-start: 100%;
		inset-block-start: 0;
		inline-size: 100%;
		block-size: 100%;
		z-index: 2;
		background-color: #edd8ff;
		transition: all 0.5s;

		overflow: auto;
		padding: 6.25rem 0.9375rem 1.875rem;
	}
	.nav__body::before {
		content: "";
		position: fixed;
		block-size: 3.75rem;
		inline-size: 100%;
		inset-inline-start: 100%;
		inset-block-start: 0;
		z-index: 3;
		background-color: #edd8ff;
		transition: inset-inline-start 0.5s;
	}

	.nav__items {
		flex-direction: column;
		border: none;
		align-items: flex-end;
		row-gap: 2.1875rem;
	}
	.nav__link {
		font-size: clamp(1.188rem, 1.067rem + 0.6vw, 1.563rem);
		padding: 0;
		color: #ffffff;
	}
}

@media (max-width: 25.9375rem) {
	.nav__button {
		display: none;
	}
}
/* --------------ANY HOVER-------------- */
@media (any-hover: hover) {
	.header__button:hover,
	.hero__button:hover,
	.project__button:hover,
	.project__cv:hover,
	.portfolio__project:hover,
	.idea__button:hover,
	.what__button:hover {
		transform: scale(0.9);
		transition: 0.6s;
	}
	.nav__a:hover::after,
	.footer__a:hover::after {
		width: 100%;
		transition: 0.3s;
	}
	.portfolio__item:hover,
	.blog__item:hover {
		transform: scale(1.1);
		transition: 0.4s;
	}
	.project__link-social:hover,
	.address__image:hover {
		border-radius: 0.25rem;
		background: #a53dff;
		box-shadow: 0rem 0.75rem 4rem 0rem rgba(28, 25, 25, 0.12);
		transition: 0.3s;
	}
	.project__link-social:hover path,
	.project__link-social:focus path,
	.address__image:hover path,
	.address__image:focus path,
	.block__image:hover path {
		fill: #fff;
	}
	.portfolio__button:hover {
		background-color: #a53dff;
		color: #fff;
		transition: 0.3s;
	}
	.portfolio__button:hover path,
	.portfolio__button:focus path {
		fill: #fff;
	}
	.user__item:hover {
		border-left: 0.3125rem solid #a53dff;
		transition: 0.2s;
		transform: scale(1.1);
		transform: will-change;
		box-shadow: 0rem 2rem 6rem 0rem rgba(28, 25, 25, 0.16);
	}
	.clients__item:hover path:not(.clients__fill) {
		fill: #000000;
		transition: 0.4s;
	}
	.address__item:hover {
		border-radius: 0.625rem;
		background: #fff;
		box-shadow: 0rem 0.75rem 4rem 0rem rgba(28, 25, 25, 0.12);
	}
	.address__image:hover {
	}
	.block__image:hover {
		background-color: #a53dff;
		transition: 0.4s;
	}
	.blog__controller:hover,
	.testimonial__controller:hover {
		width: 1.875rem;
		height: 0.5rem;
		border-radius: 6.25rem;
		background: #210c33;
		transition: 0.4s;
	}
}
