/* google fonts */

@import url(https://fonts.googleapis.com/css?family=Amatic+SC:regular,700);

/* null */

@import url("reset.css");

/*--------------------*/
body {
	background-color: #eae6ca;
	padding-inline: 15px;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
}
.page {
}
.page__container {
	max-width: 1300px;
	font-size: 0;
	padding-inline: 10px;
	margin-inline: auto;
}
.page__lesson-2d {
}
.lesson-2d {
	/* padding-inline: 25px; */
}
.lesson-2d p {
	color: #ffffff;
}
.lesson-2d__body {
	background-color: #490005;
	border: 1px solid #000000;
}
.lesson-2d__items {
	font-size: 18px;
	display: inline-block;
	min-width: 200px;
	min-height: 200px;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
}
.lesson-2d__item {
	/* padding-inline: 25px; */
}
.lesson-2d__content {
}
.lesson-2d__content--translate-y {
}
.lesson-2d__content--translate-x {
}
.lesson-2d__content--translate {
}
.lesson-2d__content--scale-y {
}
.lesson-2d__content--scale-x {
}
.lesson-2d__content--scale {
}
.lesson-2d__content--rotate-y {
}
.lesson-2d__content--rotate-x {
}
.lesson-2d__content--rotate {
}
.lesson-2d__content--skew-y {
}
.lesson-2d__content--skew-x {
}
.lesson-2d__content--skew {
}
.lesson-2d__content--origin-rotate {
}
.lesson-2d__content--origin-translate {
}
.lesson-2d__content--origin-scale {
}
.lesson-2d__content--origin-skew {
}
