/* google fonts */
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap");
/* null */
/*Null*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

:root {
  --colorTitle: #fff;
  --bg: #141414;
  --bg-02: #000;
  --menuBorder: #1f1f1f;
  --menuBg: #0f0f0f;
  --colorButton: #e50000;
  --mainText: #999;
  --secondaryText: #bfbfbf;
  --heroBorder: #262626;
  --font-family: "Manrope", sans-serif;
  --red-50: #f00;
  --red-55: #ff1a1a;
  --red-60: #f33;
  --red-80: #f99;
  --red-90: #fcc;
  --red-95: #ffe5e5;
  --red-99: #fffafa;
  --black-10: #1a1a1a;
  --black-20: #333;
  --black-25: #404040;
  --black-30: #4d4d4d;
  --grey-65: #a6a6a6;
  --grey-70: #b3b3b3;
  --grey-90: #e4e4e7;
  --grey-95: #f1f1f3;
  --grey-97: #f7f7f8;
  --grey-99: #fcfcfd;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg);
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 103.5rem;
  padding-inline: 0.9375rem;
  margin-inline: auto;
}

.page {
  width: 100%;
}

/* -------------HEADER-------------- */
.header__container {
  min-height: clamp(3.75rem, 2.788rem + 4.81vw, 7.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.1875rem;
     -moz-column-gap: 0.1875rem;
          column-gap: 0.1875rem;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 57.1875em) {
  .header__img {
    display: none;
  }
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.25rem;
     -moz-column-gap: 2.25rem;
          column-gap: 2.25rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__search {
  width: 1.59375rem;
  height: 1.59375rem;
}
.header__notification {
  width: 1.471875rem;
  height: 1.59375rem;
}
@media (max-width: 48.4375em) {
  .nav__body {
    position: fixed;
    inset-inline-start: 100%;
    inset-block-start: 0;
    inline-size: 100%;
    block-size: 100%;
    z-index: 2;
    background-color: var(--bg);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    overflow: auto;
    padding: 6.25rem 0.9375rem 1.875rem;
  }
}
@media (max-width: 48.4375em) {
  .nav__body::before {
    content: "";
    position: fixed;
    block-size: 3.75rem;
    inline-size: 100%;
    inset-inline-start: 100%;
    inset-block-start: 0;
    z-index: 3;
    background-color: var(--bg);
    -webkit-transition: inset-inline-start 0.5s;
    transition: inset-inline-start 0.5s;
  }
}
.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0.375rem;
     -moz-column-gap: 0.375rem;
          column-gap: 0.375rem;
  border-radius: 12px;
  padding-block: 0.5rem;
  border: 0.25rem solid var(--menuBorder);
}
@media (min-width: 48.4375em) {
  .nav__items {
    padding-inline: clamp(1.875rem, 0.999rem + 1.53vw, 2.5rem);
    padding-block: 0.625rem;
    background: var(--menuBg);
  }
}
@media (max-width: 48.4375em) {
  .nav__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    row-gap: 2.1875rem;
  }
}
@media (max-width: 48.4375em) {
  .nav__link {
    font-size: clamp(1.188rem, 1.067rem + 0.6vw, 1.563rem);
    padding: 0;
    color: var(--colorTitle);
  }
}
.nav__a {
  color: var(--secondaryText);
  font-size: 1.125rem;
  line-height: 1.5;
  padding-block: 0.75rem;
}
@media (min-width: 48.4375em) {
  .nav__a {
    padding-inline: clamp(1rem, 0.299rem + 1.23vw, 1.5rem);
    padding-block: 0.875rem;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 48.4375em) {
  .icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 1.875rem;
        flex-basis: 1.875rem;
    width: 1.875rem;
  }
}
.icon-menu span {
  margin-block: 0.375rem;
}
.icon-menu span, .icon-menu::before, .icon-menu::after {
  content: "";
  height: 0.125rem;
  position: relative;
  z-index: 3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  background-color: var(--colorTitle);
}

@media (max-width: 48.4375em) {
  .open-menu body {
    overflow: hidden;
  }
  .open-menu .nav__body,
  .open-menu .nav__body::before {
    inset-inline-start: 0;
  }
  .open-menu .icon-menu span {
    width: 0;
    height: 0;
    margin: 0;
  }
  .open-menu .icon-menu::before {
    -webkit-transform: rotate(45deg) translateY(0.0938rem);
        -ms-transform: rotate(45deg) translateY(0.0938rem);
            transform: rotate(45deg) translateY(0.0938rem);
  }
  .open-menu .icon-menu::after {
    -webkit-transform: rotate(-45deg) translateY(-0.0938rem);
        -ms-transform: rotate(-45deg) translateY(-0.0938rem);
            transform: rotate(-45deg) translateY(-0.0938rem);
  }
  .open-menu .icon-menu::before,
  .open-menu .icon-menu::after {
    content: "";
    background-color: var(--colorTitle);
  }
}
/* -------------HERO-------------- */
.hero {
  -webkit-padding-before: 2.5rem;
          padding-block-start: 2.5rem;
}
.hero__body {
  min-height: 100svh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.hero__video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  border-radius: 0.75rem;
  border: 0.0625rem solid var(--heroBorder);
}
.hero__video::before {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, from(var(--bg)), to(rgba(20, 20, 20, 0)));
  background: linear-gradient(0deg, var(--bg) 0%, rgba(20, 20, 20, 0) 100%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.hero__video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__video [poster] {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}