/* google fonts */

@import url(https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,700,800);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,500,700);

/* local fonts */
@import url("fonts.css");

/* null */

@import url("reset.css");

/*--------------------*/
body {
	background-color: #fdf0e9;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.header-container {
	padding: 15px;
	margin: 0 auto;
	background: url("../img/hp.jpg") center / 300px repeat;
}
.header-title p {
	text-align: center;
	font-family: "Epilogue", sans-serif;
	color: darkblue;
	font-weight: 700;
}
.main-first {
	padding-inline: 15px;
	font-family: Epilogue;
}
.first-container {
	max-width: 570px;
	margin: 0 auto;
}
.img-container {
	max-width: 970px;
	margin: 0 auto;
	margin-bottom: 74px;
}
.main-first p {
	color: rgba(57, 20, 0, 0.64);
	font-size: 16px;
	font-weight: 400;
	line-height: 200%;
}

h1,
h2 {
	color: #391400;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 133.333%;
	margin-bottom: 35px;
}
.first-content p:first-of-type {
	margin-bottom: 32px;
}
.first-content p:nth-child(2) {
	margin-bottom: 51px;
}
.first-content p:nth-of-type(3) {
	margin-bottom: 34px;
}
.first-list {
	margin-bottom: 32px;
}
.first-list li {
	background: url("../img/oval.png") left / 8px no-repeat;
	padding-inline: 16px;
	min-height: 25px;
	color: #391400;
	font-weight: 400;
	line-height: 200%;
}
.list:hover {
	color: #6208f2;
}
.list:active {
	color: #c95e11;
}
.list:visited {
	color: #0e0858;
}
.first-content p:nth-of-type(4) {
	margin-bottom: 65px;
}
.first-content p:nth-of-type(5) {
	margin-bottom: 28px;
}
.ol-list {
	margin-bottom: 32px;
}
.ol-list li {
	color: #391400;
	font-weight: 400;
	line-height: 200%;
}

.links a:focus {
	outline: 3px solid red;
}
.links a:focus-visible {
	outline: 2px dashed #0901fc;
}
.first-content p:nth-of-type(6) {
	margin-bottom: 69px;
}

.first-quote {
	min-width: 570px;
	min-height: 176px;
	border-radius: 6px;
	background: #f9e5da;
	margin-bottom: 76px;
}
.quote-container {
	min-width: 426px;
	min-height: 102px;
}
.quote-container p {
	color: #391400;
	font-size: 20px;
	font-weight: 400;
	line-height: 160%;
	padding: 42px 32px 32px 112px;
	background: url("../img/quotes.png") 32px 40px / 48px no-repeat;
}
.last-p {
	margin-bottom: 58px;
}
.first-container:last-child::after {
	content: "";
	margin: 0 auto;
	width: 100%;
	height: 1px;
	background: #f3d1bf;
}
.main-second {
	padding-inline: 15px;
	padding-top: 106px;
	background-color: #ffffff;
	font-family: "DM Sans";
}
.second-container {
	max-width: 889px;
	font-size: 0;
	margin: 0 auto;
}
.second-content:last-of-type {
	padding-bottom: 107px;
}
.second-number {
	display: inline-block;
	vertical-align: middle;
	width: 218px;
	height: 218px;
	border-radius: 50%;
	color: #4a3aff;
	background-color: rgba(74, 58, 255, 0.1);
	margin-right: 40px;
}
.second-item {
	display: inline-block;
	vertical-align: middle;
}
.item-research a::after {
	content: "";
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	width: 42px;
	height: 54px;
	background: url("../img/searchbar.png") right / 42px no-repeat;
}
.item-product a::after {
	content: "";
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	width: 42px;
	height: 54px;
	background: url("../img/laptop.png") right / 42px no-repeat;
}
.item-launch a::after {
	content: "";
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	width: 42px;
	height: 54px;
	background: url("../img/rocket.png") right / 42px no-repeat;
}
.second-number p {
	font-size: 88px;
	font-weight: 700;
	line-height: 107.955%;
	text-align: center;
	padding: 60px 10px;
}
.second-content:not(:last-child) {
	margin-bottom: 54px;
}
.second-content a {
	color: #1e1b39;
	font-size: 42px;
	font-weight: 700;
	line-height: 128.571%;
}
.second-container:last-child::after {
	content: "";
	margin: 0 auto;
	width: 100%;
	height: 1px;
	background: #4a3aff;
}
.second-item {
	max-width: 630px;
}
.second-item:has(p) {
	color: #6e6c83;
	font-size: 24px;
	font-weight: 400;
	line-height: 175%;
}
.second-year {
	color: #4a3aff;
	font-size: 20px;
	font-weight: 700;
	line-height: 110%;
}
.main-third {
	padding-inline: 15px;
	background-color: #ffffff;
	font-family: "DM Sans";
}
.third-container {
	max-width: 1710px;
	font-size: 0;
	margin: 0 auto;
}
.third-title {
	color: #1e1b39;
	font-size: 88px;
	font-weight: 700;
	line-height: 107.955%;
	margin-bottom: 50px;
}
.third-item {
	padding-inline: 24px;
	padding-block-start: 24px;
	margin-bottom: 50px;
	max-width: 560px;
	max-height: 617px;
	border-radius: 56px;
	background-color: #f0f0f6;
}
.third-content {
	margin: 0 auto;
	max-width: 494px;
	max-height: 271px;
	border-radius: 34px;
	background: #4a3aff;
	margin-bottom: 33px;
}
.price-block {
	margin: 44px 138px;
}
.third-content span:first-of-type {
	display: block;
	color: rgba(255, 255, 255, 0.9);
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	line-height: 106.667%;
}
.third-content span:nth-child(2) {
	display: block;
	color: rgba(255, 255, 255, 1);
	text-align: center;
	font-size: 116px;
	font-weight: 700;
	line-height: 103.448%;
}
.third-content span:last-of-type {
	display: block;
	color: rgba(255, 255, 255, 0.6);
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	line-height: 110%;
}
.third-list {
	margin-left: 37px;
}
.third-list:has(li) {
	color: #1e1b39;
	font-size: 28px;
	font-weight: 700;
	line-height: 135.714%;
}
.third-list li::before {
	content: "";
	background: #f0f0f6 url("../img/check.png") center / 36px repeat;
	vertical-align: top;
	width: 36px;
	height: 36px;
	margin-right: 14px;
}
.third-list li:not(:last-child) {
	padding-bottom: 26px;
}
.third-list li:last-of-type {
	padding-bottom: 58px;
}
.third-container:last-child::after {
	content: "";
	margin: 0 auto;
	margin-bottom: 50px;
	width: 100%;
	height: 1px;
	background: #000000;
}
.main-game {
	padding-inline: 15px;
	background: #ffffff url("../img/mm.jpg") center / 200px repeat;
	font-family: "Crimes of Grindelwald", sans-serif;
}
.game-container {
	max-width: 1200px;
	min-height: 800px;
	font-size: 0;
	margin: 0 auto;
}
.game-content {
	padding-inline: 100px;
}
.game-name {
	padding-top: 20px;
}
h3 {
	color: #4c4441;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 20px;
	line-height: 103.448%;
	padding-bottom: 50px;
}
.game-start {
	display: inline-block;
	text-align: center;
	margin-block-start: 30px;
	margin-block-end: 10px;
}
.game-start p {
	display: block;
	font-size: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-right: 20px;
}
.start {
	display: inline-block;
	vertical-align: top;
	background: url("../img/wand.jpg") 5px 20px / cover no-repeat;
	padding: 10px;
	width: 150px;
	height: 150px;
}
.game-line {
	display: inline-block;
	vertical-align: top;
	visibility: hidden;
}
.one {
	background: url("../img/beasts.webp") 0 0 / 300px repeat;
	width: 30px;
	height: 500px;
	margin-top: 60px;
}
.two {
	background: url("../img/beasts.webp") 0 0 / 300px repeat;
	margin-top: 310px;
	width: 20px;
	height: 250px;
}
.three {
	background: url("../img/beasts.webp") 0 0 / 300px repeat;
	width: 200px;
	height: 20px;
	margin-top: 310px;
}
.four {
	background: url("../img/beasts.webp") 0 0 / 300px repeat;
	width: 20px;
	height: 270px;
	margin-top: 60px;
}
.five {
	background: url("../img/beasts.webp") 0 0 / 300px repeat;
	width: 30px;
	height: 500px;
	margin-top: 60px;
}
.six {
	background: url("../img/beasts.webp") 0 0 / 300px repeat;
	width: 70px;
	height: 30px;
	margin-top: 530px;
}
.seven {
	background: url("../img/beasts.webp") 0 0 / 300px repeat;
	width: 30px;
	height: 500px;
	margin-top: 60px;
}
.eight {
	background: url("../img/beasts.webp") 0 0 / 300px repeat;
	width: 250px;
	height: 35px;
	margin-top: 60px;
}
.nine {
	background: url("../img/beasts.webp") 0 0 / 300px repeat;
	width: 30px;
	height: 250px;
	margin-top: 60px;
}
.ten {
	background: url("../img/beasts.webp") 0 0 / 300px repeat;
	vertical-align: -310px;
	width: 220px;
	height: 30px;
	margin-left: -250px;
}
.eleven {
	background: url("../img/beasts.webp") 0 0 / 300px repeat;
	margin-top: 310px;
	margin-left: -220px;
	width: 30px;
	height: 100px;
}
.twelve {
	background: url("../img/niffler.png") center / 250px no-repeat;
	margin-top: 380px;
	margin-left: -90px;
	width: 230px;
	height: 200px;
}
.mischief {
	max-width: 100px;
}
h4 {
	display: inline-block;
	color: #4c4441;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 20px;
	line-height: 103.448%;
	margin-top: 190px;
	margin-left: 70px;
}
.game-start:hover ~ .game-line:nth-child(2),
.game-line:nth-child(2):hover {
	visibility: visible;
}
.game-line:nth-child(2):hover ~ .game-line:nth-child(3),
.game-line:nth-child(3):hover,
.game-line:nth-child(3):hover ~ .game-line:nth-child(4),
.game-line:nth-child(4):hover,
.game-line:nth-child(4):hover ~ .game-line:nth-child(5),
.game-line:nth-child(5):hover,
.game-line:nth-child(5):hover ~ .game-line:nth-child(6),
.game-line:nth-child(6):hover,
.game-line:nth-child(6):hover ~ .game-line:nth-child(7),
.game-line:nth-child(7):hover,
.game-line:nth-child(7):hover ~ .game-line:nth-child(8),
.game-line:nth-child(8):hover,
.game-line:nth-child(8):hover ~ .game-line:nth-child(9),
.game-line:nth-child(9):hover,
.game-line:nth-child(9):hover ~ .game-line:nth-child(10),
.game-line:nth-child(10):hover,
.game-line:nth-child(10):hover ~ .game-line:nth-child(11),
.game-line:nth-child(11):hover,
.game-line:nth-child(11):hover ~ .game-line:nth-child(12),
.game-line:nth-child(12):hover,
.game-line:nth-child(12):hover ~ .game-line:nth-child(13),
.game-line:nth-child(13):hover,
.mischief:hover {
	visibility: visible;
}
.footer-container {
	background-color: #000000;
	min-width: 1175px;
	text-align: center;
	font-family: "Crimes of Grindelwald", sans-serif;
}
.footer-container p {
	display: inline-block;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 20px;
	line-height: 103.448%;
	padding: 20px;
}
