/* google fonts */

@import url(https://fonts.googleapis.com/css?family=Xanh+Mono:regular,italic);
@import url(https://fonts.googleapis.com/css?family=Epilogue:regular,800,900);

/* null */

@import url("reset.css");

/*--------------------*/
.wrapper {
	min-height: 100%;
	overflow: clip;
}
body {
}

.header-top {
	padding: 10px;
	background-color: #f9e5da;
}
.header-top__title h1 {
	font-family: "Xanh Mono", sans-serif;
	font-size: 30px;
	text-align: center;
	color: #28293e;
}
.page {
}
.page-pictures {
	background-color: #28293e;
}
.page-pictures__img {
}
.img-project {
	position: relative;
	max-width: 570px;
	max-height: 586px;
	margin: 0 auto;
}
.img-project__picture {
}
.img-project__picture--big-oval::before {
	content: "";
	position: absolute;
	top: 96px;
	left: 105px;
	width: 370px;
	height: 370px;
	border-radius: 50%;
	background-color: #32334c;
}
.img-project__picture--stars::before {
	content: "";
	background: url("../img/starsinoval.svg") center / contain no-repeat;
	position: absolute;
	top: 40px;
	left: 301px;
	width: 112px;
	height: 112px;
}
.img-project__picture--cloud::before {
	content: "";
	background: url("../img/cloud.svg") center / contain no-repeat;
	position: absolute;
	top: 80px;
	left: 459px;
	width: 112px;
	height: 82px;
}
.img-project__picture--girl-photo {
	position: relative;
	top: 189px;
	left: 324px;
	width: 246px;
	height: 305px;
	background-color: #f7cc47;
	border-radius: 48% 48% 8px 8px;
}
.img-project__picture--girl-photo img {
	position: absolute;
	background-color: #f7cc47;
	bottom: 0;
	left: 0;
	width: 100%;
	border-radius: 40% 40% 6px 6px;
}
.img-project__picture--arrow::before {
	content: "";
	background: url("../img/arrow.svg") center / contain no-repeat;
	position: absolute;
	bottom: 8px;
	left: 314px;
	width: 50px;
	height: 82px;
}
.img-project__picture--business-card::before {
	content: "";
	background: url("../img/businesscard.svg") center / contain no-repeat;
	position: absolute;
	top: 431px;
	left: 56px;
	width: 214px;
	height: 112px;
}
.img-project__picture--curly-arrow::before {
	content: "";
	background: url("../img/curlyarrow.svg") center / contain no-repeat;
	position: absolute;
	top: 342px;
	left: 0px;
	width: 142px;
	height: 73px;
}
.img-project__picture--laptop {
	position: relative;
	bottom: 281px;
	left: 0;
	width: 246px;
	height: 305px;
	background-color: #b550f8;
	border-radius: 48% 48% 8px 8px;
}
.img-project__picture--laptop img {
	position: absolute;
	top: 24px;
	left: 21px;
	width: 100%;
	border-radius: 40% 40% 6px 6px;
}
.page-cards {
	background-color: #28293e;
	font-family: "Epilogue", sans-serif;
}
.page-cards__container {
}
.container-content {
}
.container-content__top {
	position: relative;
	max-width: 1173px;
	margin: 0 auto;
	margin-bottom: 80px;
}
.container-content__title {
	margin-bottom: 38px;
}
.container-content__title p {
	color: #ef6d58;
	line-height: 200%;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.container-content__sub-title {
	display: inline-block;
	margin-inline-end: 657px;
}
.container-content__sub-title p {
	color: #ffffff;
	font-size: 56px;
	font-weight: 800;
	line-height: 114.286%;
	letter-spacing: -1px;
	text-transform: capitalize;
}
.container-content__button {
	display: inline-block;
	border: 1px solid rgba(255, 255, 255, 0.3);
	padding: 18px 30px;
	border-radius: 6px;
	color: #ffffff;
	text-align: center;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	vertical-align: top;
}
.container-content__bottom {
	max-height: 608px;
	max-width: 1442px;
	margin: 0 auto;
	overflow: hidden;
}
.container-content__overlay {
	font-size: 0;
	margin: 0 -15px;
	border: 1px solid #3a3c56;
}
.container-content__cards {
	width: 33.333%;
	padding: 15px;
	vertical-align: top;
	border-inline-end: 1px solid #3a3c56;
	border-block-end: 1px solid #3a3c56;
}
.container-content__items {
}
.container-content__item {
}
.container-content__content {
}
.container-content__text {
}
.container-content__buttons {
}
.container-content__label {
}
