@use "sass:math";
/* google fonts */

@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap");

/* null */

@import "_reset.scss";
@import "_mixins.scss";
@import "_variables.scss";

body {
	font-family: var(--font-family);
	background-color: var(--bg);
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: toRem($containerWidth);
	padding-inline: toRem(math.div($containerPadding, 2));
	margin-inline: auto;
}
.page {
	width: 100%;
}
/* ----------------------------------- */
.header {
	// .header__container
	&__container {
		min-height: toRem(120);
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: toRem(10);
	}
	// .header__logo
	&__logo {
		display: flex;
		align-items: center;
		column-gap: toRem(3);
	}
	&__logo img {
		aspect-ratio: 1;
		object-fit: contain;
	}
	// .header__buttons
	&__buttons {
		display: flex;
		column-gap: toRem(36);
		justify-content: flex-end;
	}
	// .header__search
	&__search {
		width: toRem(25.5);
		height: toRem(25.5);
	}
	// .header__notification
	&__notification {
		width: toRem(23.55);
		height: toRem(25.5);
	}
	// .header__menu-icon
	&__menu-icon {
	}
}
.nav {
	// .nav__body
	&__body {
		// padding: toRem(10) toRem(40);
	}
	// .nav__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		column-gap: toRem(6);
		padding: toRem(10) toRem(40);
		border-radius: 12px;
		border: toRem(4) solid var(--menuBorder);
		background: var(--menuBg);
	}
	// .nav__link
	&__link {
	}
	// .nav__a
	&__a {
		color: var(--secondaryText);
		font-size: toRem(18);
		line-height: 1.5;
		padding: toRem(14) toRem(24);
	}
}
// padding-block: 0.875rem;
// padding-inline: clamp(0.875rem, 1.567vw - 0.097rem, 1.5rem);
.icon-menu {
}
