@use "sass:math";
/* google fonts */

@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap");

/* null */

@import "_reset.scss";
@import "_mixins.scss";
@import "_variables.scss";

body {
   font-family: var(--font-family);
   background-color: var(--bg);
}
.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}
.wrapper > main {
   flex-grow: 1;
}
[class*="__container"] {
   max-width: toRem($containerWidth);
   padding-inline: toRem(math.div($containerPadding, 2));
   margin-inline: auto;
}
.page {
   width: 100%;
}
/* -------------HEADER-------------- */
.header {
   // .header__container
   &__container {
      min-height: clamp(3.75rem, 2.788rem + 4.81vw, 7.5rem);
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: toRem(10);
   }
   // .header__logo
   &__logo {
      display: flex;
      align-items: center;
      column-gap: toRem(3);
   }
   &__logo img {
      width: 100%;
      height: 100%;
      object-fit: contain;
   }
   &__img {
      @media (max-width: toEm(915)) {
         display: none;
      }
   }
   // .header__buttons
   &__buttons {
      display: flex;
      column-gap: toRem(36);
      justify-content: flex-end;
      align-items: center;
   }
   // .header__search
   &__search {
      width: toRem(25.5);
      height: toRem(25.5);
   }
   // .header__notification
   &__notification {
      width: toRem(23.55);
      height: toRem(25.5);
   }
   // .header__menu-icon
   &__menu-icon {
   }
}
.nav {
   // .nav__body
   &__body {
      @media (max-width: toEm(775)) {
         position: fixed;
         inset-inline-start: 100%;
         inset-block-start: 0;
         inline-size: 100%;
         block-size: 100%;
         z-index: 2;
         background-color: var(--bg);
         transition: all 0.5s;
         overflow: auto;
         padding: toRem(100) toRem(15) toRem(30);
      }
      &::before {
         @media (max-width: toEm(775)) {
            content: "";
            position: fixed;
            block-size: toRem(60);
            inline-size: 100%;
            inset-inline-start: 100%;
            inset-block-start: 0;
            z-index: 3;
            background-color: var(--bg);
            transition: inset-inline-start 0.5s;
         }
      }
   }
   // .nav__items
   &__items {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      column-gap: toRem(6);
      border-radius: toRem(12);
      padding-block: toRem(8);
      border: toRem(4) solid var(--menuBorder);
      @media (min-width: toEm(775)) {
         padding-inline: clamp(1.875rem, 0.999rem + 1.53vw, 2.5rem);
         padding-block: toRem(10);
         background: var(--menuBg);
      }
      @media (max-width: toEm(775)) {
         flex-direction: column;
         border: none;
         align-items: flex-end;
         row-gap: toRem(35);
      }
   }
   // .nav__link
   &__link {
      transition: 0.5s;
      @media (max-width: toEm(775)) {
         font-size: clamp(1.188rem, 1.067rem + 0.6vw, 1.563rem);
         color: var(--colorTitle);
      }
      @media (any-hover: hover) {
         &:hover {
            border-radius: toRem(8);
            border: toRem(1) solid var(--cardsBorder);
            background: var(--cardsBorder);
            transition: 0.5s;
         }
      }
   }
   // .nav__a
   &__a {
      color: var(--secondaryText);
      font-size: toRem(18);
      line-height: 1.5;
      padding-block: toRem(12);
      @media (min-width: toEm(775)) {
         padding-inline: clamp(1rem, 0.299rem + 1.23vw, 1.5rem);
         padding-block: toRem(14);
      }
      @media (any-hover: hover) {
         &:hover {
            color: var(--colorTitle);
            font-size: toRem(18);
            font-weight: 500;
            line-height: 1.5;
         }
      }
   }
}
.icon-menu {
   display: none;
   @media (max-width: toEm(775)) {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      flex-basis: toRem(30);
      width: toRem(30);
   }
   span {
      margin-block: toRem(6);
   }
   span,
   &::before,
   &::after {
      content: "";
      height: toRem(2);
      position: relative;
      z-index: 3;
      transition: all 0.3s;
      width: 100%;
      background-color: var(--colorTitle);
   }
}
@media (max-width: toEm(775)) {
   .open-menu {
      body {
         overflow: hidden;
      }
      .nav__body,
      .nav__body::before {
         inset-inline-start: 0;
      }
      .icon-menu span {
         width: 0;
         height: 0;
         margin: 0;
      }
      .icon-menu::before {
         transform: rotate(45deg) translateY(toRem(1.5008));
      }
      .icon-menu::after {
         transform: rotate(-45deg) translateY(toRem(-1.5008));
      }
      .icon-menu::before,
      .icon-menu::after {
         content: "";
         background-color: var(--colorTitle);
      }
   }
}

/* -------------HERO-------------- */

.hero {
   padding-block-start: toRem(40);
   padding-block-end: clamp(0.625rem, -0.629rem + 6.27vw, 5.625rem);
   // .hero__container
   &__container {
   }
   // .hero__body
   &__body {
      min-height: 100svh;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      padding-block: toRem(20);
      padding-inline: toRem(50);
   }
   // .hero__video
   &__video {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      z-index: -1;
      border-radius: toRem(12);
      border: toRem(1) solid var(--heroBorder);
      &::before {
         content: "";
         position: absolute;
         background: linear-gradient(0deg, var(--bg) 0%, rgba(20, 20, 20, 0) 100%);
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
      }
      video {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
      [poster] {
         border-radius: toRem(12);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   // .hero__content
   &__content {
      margin-inline: auto;
   }
   // .hero__title
   &__title {
      text-align: center;
      color: var(--colorTitle);
      @include adaptiveValue("font-size", 30, 24);
      font-weight: 700;
      line-height: 1.5;
      @media (max-width: toEm(490)) {
         margin-block-end: toRem(20);
      }
   }
   // .hero__text
   &__text {
      max-width: toRem(960);
      color: var(--mainText);
      text-align: center;
      font-weight: 500;
      line-height: 1.5;
      margin-block-end: toRem(30);
      @media (max-width: toEm(490)) {
         display: none;
      }
   }
   // .hero__button
   &__button {
      display: flex;
      flex-wrap: wrap;
      column-gap: toRem(20);
      margin-block-end: toRem(50);
      align-items: center;
      justify-content: center;
      @media (max-width: toEm(490)) {
         row-gap: toRem(20);
         flex-direction: column;
      }
   }
   // .hero__play
   &__play {
      display: flex;
      align-items: center;
      column-gap: toRem(9);
      color: var(--colorTitle);
      font-size: toRem(18);
      font-weight: 600;
      line-height: 153%;
      padding: toRem(14) toRem(24);
      border-radius: toRem(8);
      background: var(--colorButton);
      justify-content: center;

      transition: 0.5s;
      background-size: 200% auto;
      box-shadow: 0 0 toRem(10) var(--btnColor);
      border-radius: toRem(10);
      background-image: linear-gradient(to right, var(--colorButton) 0%, var(--btnColor) 51%, var(--btnColor-02) 100%);

      &::before {
         content: "";
         background: url("../img/icons/play-icon.svg") center no-repeat;
         width: toRem(17.84);
         height: toRem(19.19);
         padding: toRem(5);
      }
      @media (any-hover: hover) {
         &:hover {
            background-position: right center;
         }
      }
      @media (max-width: toEm(490)) {
         width: 100%;
      }
   }
   // .hero__buttons
   &__buttons {
      display: flex;
      align-items: center;
      column-gap: toRem(10);
   }
   // .hero__icon
   &__icon {
      width: toRem(56);
      height: toRem(56);
      padding: toRem(14);
      border-radius: toRem(8);
      border: toRem(1) solid var(--heroBorder);
      background-color: var(--menuBg);
      svg {
         width: toRem(23);
         height: toRem(23);
         color: var(--colorTitle);
         &:hover {
            color: var(--colorButton);
         }
      }
   }
   // .hero__controllers
   &__controllers {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: toEm(490)) {
         display: none;
      }
   }
   // .hero__arrow
   &__arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      width: toRem(56);
      height: toRem(56);
      border-radius: toRem(8);
      border: toRem(1) solid var(--menuBorder);
      background: var(--menuBg);
      svg {
         width: toRem(18);
         height: toRem(18);
         color: var(--colorTitle);
         &:hover {
            color: var(--colorButton);
         }
      }
   }
   // .hero__scrollers
   &__scrollers {
      display: flex;
      align-items: center;
      column-gap: toRem(3);
      cursor: pointer;
   }
   // .hero__scroller
   &__scroller {
      width: toRem(16);
      height: toRem(4);
      border-radius: toRem(100);
      background: var(--scrollerColor);
      &:hover {
         width: toRem(23);
         border-radius: toRem(100);
         background: var(--colorButton);
      }
      // .hero__scroller--active
      &--active {
         width: toRem(23);
         border-radius: toRem(100);
         background: var(--colorButton);
      }
   }
}

/*-------MAIN BORDER-------*/

.main {
   margin-block-end: toRem(50);
   // .main__wrapper
   &__wrapper {
   }
   // .main__container
   &__container {
   }
   // .main__object
   &__object {
      display: flex;
      align-items: center;
      margin-block-start: toRem(50);
      margin-block-end: toRem(50);
      padding: toRem(8);
      border-radius: toRem(8);
      border: toRem(1) solid var(--heroBorder);
      background: var(--menuBg);
      @media (min-width: toEm(490)) {
         display: none;
      }
   }
   // .main__movies
   &__movie,
   &__shows {
      color: var(--mainText);
      font-size: toRem(14);
      font-weight: 500;
      line-height: 1.5;
      padding: toRem(12) toRem(20);
      width: 100%;
      height: 100%;
      &:hover {
         border-radius: toRem(6);
         background: var(--menuBorder);
      }
   }
   &__movie
   // .main__shows
   &__shows {
   }

   // .main__body
   &__body {
      position: relative;
      padding: clamp(0.938rem, 0.389rem + 2.74vw, 3.125rem);
      border-radius: toRem(12);
      border: toRem(1) solid var(--heroBorder);
   }
   // .main__movies
   &__movies {
      color: var(--colorTitle);
      text-align: center;
      font-size: toRem(20);
      font-weight: 600;
      line-height: 1.5;
      border-radius: toRem(8);
      background: var(--colorButton);
      padding: toRem(10) toRem(24);
      margin-block-end: toRem(35.5);
      position: absolute;
      top: 0;
      left: toRem(50);
      transform: translateY(-40%);
      @media (max-width: toEm(590)) {
         display: none;
      }
   }
}

[class*="__headline"] {
   display: flex;
   justify-content: space-between;
   column-gap: toRem(5);
   align-items: center;
   margin-block-end: toRem(50);
}
.title {
   color: var(--colorTitle);
   @include adaptiveValue("font-size", 38, 24);
   font-weight: 700;
   line-height: 1.5;
}
.controllers {
   display: flex;
   border-radius: toRem(12);
   border: toRem(1) solid var(--menuBorder);
   background: var(--menuBg);
   padding: toRem(16);
   align-items: center;
   column-gap: toRem(16);
   // .controllers__arrow
   &__arrow {
      aspect-ratio: 56/56;
      padding: toRem(14);
      border-radius: toRem(8);
      border: toRem(1) solid var(--menuBorder);
      background: var(--cardsBorder);
      svg {
         width: toRem(18);
         height: toRem(18);
         color: var(--colorTitle);
         &:hover {
            color: var(--colorButton);
         }
      }
   }
   // .controllers__scrollers
   &__scrollers {
      display: flex;
      column-gap: toRem(3);
      align-items: center;
   }
   // .controllers__scroller
   &__scroller {
      width: toRem(16);
      height: toRem(4);
      border-radius: toRem(100);
      background: var(--scrollerColor);
      cursor: pointer;
      transition: 0.4s;
      // .genres__scroller--active
      &--active {
         width: toRem(23);
         border-radius: toRem(100);
         background: var(--colorButton);
      }
      &:hover {
         transition: 0.4s;
         width: toRem(23);
         background: var(--colorButton);
      }
   }
   @media (max-width: toEm(590)) {
      display: none;
   }
}
.tag {
   align-self: flex-start;
   color: var(--colorTitle);
   font-size: toRem(18);
   font-weight: 600;
   line-height: 1.5;
}

/*----------GENRES-----------*/

.genres {
   padding-block-end: clamp(1.563rem, 1.171rem + 1.96vw, 3.125rem);
   // .genres__cards
   &__cards {
      // display: grid;
      // grid-template-columns: repeat(5, 1fr);
      display: flex;
      column-gap: clamp(0.625rem, 0.312rem + 1.57vw, 1.875rem);
      overflow: auto;
      scroll-snap-type: x mandatory;
      padding-block-end: toRem(20);
      &::-webkit-scrollbar {
         border-radius: toRem(20);
         background: var(--colorButton);
         width: toRem(79);
         height: toRem(5);
      }
   }
   // .genres__card
   &__card {
      padding: clamp(0.938rem, -0.635rem + 2.52vw, 1.875rem);
      border-radius: toRem(12);
      border: toRem(1) solid var(--heroBorder);
      background: var(--cardsBorder);
      position: relative;
      scroll-snap-align: start;
      min-width: clamp(10.688rem, 7.491rem + 5.5vw, 12.977rem);
      will-change: transform;
      transition: 0.5s;
      cursor: pointer;
      // min-width: clamp(12.188rem, 4.944rem + 12.46vw, 17.375rem);
      &::before {
         content: "";
         position: absolute;
         background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, var(--cardsBorder) 101.79%);
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
      }
      @media (any-hover: hover) {
         &:hover {
            transform: scale(0.95);
            transition: 0.5s;
         }
      }
   }
   // .genres__images
   &__images {
      // display: flex;
      // flex-wrap: wrap;
      display: grid;
      grid-template-columns: repeat(2, 1.47945fr);
      justify-content: center;
      gap: toRem(5);
      // 47.9452%; /* 105/219 */
   }
   // .genres__image
   &__image {
      border-radius: toRem(10);
      aspect-ratio: 105.3/123.5;
      overflow: hidden;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   // .genres__bottom
   &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: toRem(5);
      position: relative;
      z-index: 2;
   }
   // .genres__pointer
   &__pointer {
      width: toRem(18.75);
      height: toRem(16.88);
      align-self: center;
      color: var(--colorTitle);
      &:hover {
         color: var(--colorButton);
      }
   }
}

/*-----------POPULAR-----------*/

.popular {
   padding-block: clamp(1.563rem, 1.171rem + 1.96vw, 3.125rem);
   // .popular__cards
   &__cards {
      // display: grid;
      // grid-template-columns: repeat(4, 1fr);
      display: flex;
      column-gap: clamp(0.625rem, 0.312rem + 1.57vw, 1.875rem);
      overflow: auto;
      scroll-snap-type: x mandatory;
      padding-block-end: toRem(20);
      &::-webkit-scrollbar {
         border-radius: toRem(20);
         background: var(--colorButton);
         width: toRem(79);
         height: toRem(5);
      }
   }
   // .popular__card
   &__card {
      @extend .genres__card;
      min-width: clamp(12.125rem, 4.445rem + 13.21vw, 17.625rem);
   }
   // .popular__images
   &__images {
      display: grid;
      grid-template-columns: repeat(2, 1.47138fr);
      justify-content: center;
      gap: clamp(0.125rem, -0.573rem + 1.2vw, 0.625rem);
   }
   // .popular__image
   &__image {
      aspect-ratio: 292/252;
      border-radius: toRem(4);
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         border-radius: toRem(4);
      }
   }
   // .popular__bottom
   &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: toRem(5);
      position: relative;
      z-index: 2;
   }
   // .popular__pointer
   &__pointer {
      @extend .genres__pointer;
      align-self: center;
      color: var(--colorTitle);
      &:hover {
         color: var(--colorButton);
      }
   }
   .tag {
      // .tag__top
      &__top {
         color: var(--colorTitle);
         font-weight: 600;
         line-height: 1.5;
         @include adaptiveValue("padding", 10, 2);
         border-radius: toRem(5);
         background: var(--colorButton);
         display: inline-flex;
         margin-block-end: toRem(4);
      }
   }
}

/*----------TRENDING----------*/

.trending {
   padding-block: clamp(1.563rem, 1.171rem + 1.96vw, 3.125rem);
   // .trending__cards
   &__cards {
      // display: grid;
      // grid-template-columns: repeat(5, 1fr);
      display: flex;
      column-gap: clamp(0.625rem, 0.468rem + 0.78vw, 1.25rem);
      overflow: auto;
      scroll-snap-type: x mandatory;
      padding-block-end: toRem(20);
      &::-webkit-scrollbar {
         border-radius: toRem(20);
         background: var(--colorButton);
         width: toRem(79);
         height: toRem(5);
      }
   }
   // .trending__card
   &__card {
      padding: toRem(20);
      border-radius: toRem(12);
      border: toRem(1) solid var(--heroBorder);
      background: var(--cardsBorder);
      scroll-snap-align: start;
      will-change: transform;
      transition: 0.5s;
      @media (any-hover: hover) {
         &:hover {
            transform: scale(0.95);
            transition: 0.5s;
         }
      }
   }
   // .trending__images
   &__images {
      margin-block-end: clamp(0.625rem, -0.248rem + 1.5vw, 1.25rem);
      min-width: clamp(11.25rem, 6.391rem + 8.36vw, 14.73rem);
   }
   // .trending__image
   &__image {
      aspect-ratio: 243/281;
      border-radius: toRem(12);
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         border-radius: toRem(12);
      }
   }
   // .trending__info
   &__info {
      display: flex;
      column-gap: toRem(2);
      align-items: center;
      justify-content: space-between;
      column-gap: toRem(5);
   }
   // .trending__time
   &__time {
      display: flex;
      align-items: center;
      color: var(--mainText);
      font-weight: 500;
      line-height: 1.5;
      padding: toRem(6) toRem(10) toRem(6) toRem(6);
      border-radius: toRem(51);
      border: toRem(1) solid var(--heroBorder);
      background: var(--bg);
      font-size: clamp(0.625rem, 0.101rem + 0.9vw, 1rem);
      &::before {
         content: "";
         background-image: url("../img/time.svg");
         width: toRem(19);
         height: toRem(19);
         background-size: 100%;
      }
   }
   // .trending__reviews
   &__reviews {
      display: flex;
      align-items: center;
      column-gap: toRem(4);
      color: var(--mainText);
      font-weight: 500;
      line-height: 1.5;
      padding: toRem(6) toRem(10) toRem(6) toRem(6);
      border-radius: toRem(51);
      border: toRem(1) solid var(--heroBorder);
      background: var(--bg);
      font-size: clamp(0.625rem, 0.101rem + 0.9vw, 1rem);
      &::before {
         content: "";
         background: url("../img/watch.svg");
         width: toRem(21.53);
         height: toRem(16.5);
         background-size: 100%;
      }
   }
}

/*----------RELEASES----------*/

.releases {
   padding-block-start: clamp(1.563rem, 1.171rem + 1.96vw, 3.125rem);
   // .releases__cards
   &__cards {
      // display: grid;
      // grid-template-columns: repeat(5, 1fr);
      display: flex;
      column-gap: clamp(0.625rem, 0.468rem + 0.78vw, 1.25rem);
      overflow: auto;
      scroll-snap-type: x mandatory;
      padding-block-end: toRem(20);
      &::-webkit-scrollbar {
         border-radius: toRem(20);
         background: var(--colorButton);
         width: toRem(79);
         height: toRem(5);
      }
   }
   // .releases__card
   &__card {
      @extend .trending__card;
      padding: clamp(0.625rem, -0.248rem + 1.5vw, 1.25rem);
      min-width: clamp(9.813rem, -0.573rem + 17.87vw, 17.25rem);
   }
   // .releases__images
   &__images {
      margin-block-end: clamp(0.625rem, -0.248rem + 1.5vw, 1.25rem);
   }
   // .releases__image
   &__image {
      @extend .trending__image;
   }
   // .releases__released
   &__released {
      color: var(--mainText);
      font-size: clamp(0.625rem, 0.101rem + 0.9vw, 1rem);
      text-align: center;
      font-weight: 500;
      line-height: 1.5;
      padding: toRem(6) toRem(10) toRem(6) toRem(6);
      border-radius: toRem(51);
      border: toRem(1) solid var(--heroBorder);
      background: var(--bg);
      span {
         color: var(--secondaryText);
         font-weight: 500;
         line-height: 1.5;
      }
   }
}

/*-----------FOOTER----------*/

.footer {
   padding-block-start: clamp(3.125rem, 2.341rem + 3.92vw, 6.25rem);
   padding-block-end: clamp(1.25rem, 0.78rem + 2.35vw, 3.125rem);
   background: var(--menuBg);
   // .footer__container
   &__container {
   }
   // .footer__body
   &__body {
      display: grid;
      grid-template-columns: repeat(6, 1.51fr);
      justify-content: center;
      column-gap: clamp(0.625rem, -0.54rem + 2.42vw, 1.875rem); //1596/770
      @media (max-width: toRem(1000)) {
         display: grid;
         grid-template-columns: repeat(3, 1.315fr);
         row-gap: toRem(30);
      }
      @media (max-width: toRem(580)) {
         grid-template-columns: repeat(2, 1.46896fr);
         justify-content: space-between;
         column-gap: toRem(10);
      }
   }
   // .footer__list
   &__list {
      h4 {
         color: var(--colorTitle);
         @include adaptiveValue("font-size", 20, 16);
         // font-size: toRem(20);
         font-weight: 600;
         line-height: 1.5;
         margin-block-end: toRem(24);
      }
   }
   // .footer__icons
   &__icons {
      display: flex;
      column-gap: toRem(14);
      align-items: center;
   }
   // .footer__link
   &__link {
      margin-block-end: toRem(14);
      color: var(--mainText);
      font-size: clamp(0.75rem, 0.288rem + 2.31vw, 1.125rem);
      font-weight: 500;
      line-height: 1.5;
      transition: 0.4s;
      // .footer__link--icon
      &--icon {
         width: clamp(2.75rem, 1.827rem + 4.62vw, 3.5rem);
         height: clamp(2.75rem, 1.827rem + 4.62vw, 3.5rem);
         padding: clamp(0.75rem, 0.442rem + 1.54vw, 1rem);
         border-radius: toRem(8);
         border: toRem(1) solid var(--heroBorder);
         background: var(--cardsBorder);
      }
      svg {
         width: clamp(1.25rem, 0.942rem + 1.54vw, 1.5rem);
         height: clamp(1.25rem, 0.942rem + 1.54vw, 1.5rem);
         object-fit: cover;
      }
      &:hover {
         transition: 0.4s;
         color: var(--colorTitle);
      }
   }
   // .footer__bottom
   &__bottom {
      border-top: toRem(1) solid var(--heroBorder);
      margin-block-start: clamp(1.563rem, 0.387rem + 5.88vw, 6.25rem);
   }
   // .footer__cover
   &__cover {
      padding-block-start: toRem(24);
      display: flex;
      justify-content: space-between;
      column-gap: toRem(5);
      @media (max-width: toRem(840)) {
         flex-direction: column;
         row-gap: toRem(20);
      }
   }
   // .footer__rights
   &__rights {
      color: var(--mainText);
      font-size: clamp(0.75rem, 0.519rem + 1.15vw, 1.125rem);
      line-height: 1.5;
   }
   // .footer__policy
   &__policy {
      display: flex;
   }
   // .footer__item
   &__item {
      color: var(--mainText);
      font-size: clamp(0.625rem, 0.317rem + 1.54vw, 1.125rem);
      line-height: 1.5;
      &:nth-of-type(1) {
         padding-inline-end: toRem(20);
         border-right: toRem(1) solid var(--heroBorder);
      }
      &:nth-of-type(2) {
         padding-inline: toRem(20);
         border-right: toRem(1) solid var(--heroBorder);
      }
      &:nth-of-type(3) {
         padding-inline-start: toRem(20);
      }
      &:hover {
         color: var(--colorTitle);
      }
   }
}
