@use "sass:math";
/* google fonts */

@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap");

/* null */

@import "_reset.scss";
@import "_mixins.scss";
@import "_variables.scss";

body {
	font-family: var(--font-family);
	background-color: var(--bg);
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: toRem($containerWidth);
	padding-inline: toRem(math.div($containerPadding, 2));
	margin-inline: auto;
}
.page {
	width: 100%;
}
/* -------------HEADER-------------- */
.header {
	// .header__container
	&__container {
		min-height: clamp(3.75rem, 2.788rem + 4.81vw, 7.5rem);
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: toRem(10);
	}
	// .header__logo
	&__logo {
		display: flex;
		align-items: center;
		column-gap: toRem(3);
	}
	&__logo img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	&__img {
		@media (max-width: toEm(915)) {
			display: none;
		}
	}
	// .header__buttons
	&__buttons {
		display: flex;
		column-gap: toRem(36);
		justify-content: flex-end;
		align-items: center;
	}
	// .header__search
	&__search {
		width: toRem(25.5);
		height: toRem(25.5);
	}
	// .header__notification
	&__notification {
		width: toRem(23.55);
		height: toRem(25.5);
	}
	// .header__menu-icon
	&__menu-icon {
	}
}
.nav {
	// .nav__body
	&__body {
		@media (max-width: toEm(775)) {
			position: fixed;
			inset-inline-start: 100%;
			inset-block-start: 0;
			inline-size: 100%;
			block-size: 100%;
			z-index: 2;
			background-color: var(--bg);
			transition: all 0.5s;

			overflow: auto;
			padding: toRem(100) toRem(15) toRem(30);
		}
		&::before {
			@media (max-width: toEm(775)) {
				content: "";
				position: fixed;
				block-size: toRem(60);
				inline-size: 100%;
				inset-inline-start: 100%;
				inset-block-start: 0;
				z-index: 3;
				background-color: var(--bg);
				transition: inset-inline-start 0.5s;
			}
		}
	}
	// .nav__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		column-gap: toRem(6);
		border-radius: 12px;
		padding-block: toRem(8);
		border: toRem(4) solid var(--menuBorder);
		@media (min-width: toEm(775)) {
			padding-inline: clamp(1.875rem, 0.999rem + 1.53vw, 2.5rem);
			padding-block: toRem(10);
			background: var(--menuBg);
		}
		@media (max-width: toEm(775)) {
			flex-direction: column;
			border: none;
			align-items: flex-end;
			row-gap: toRem(35);
		}
	}
	// .nav__link
	&__link {
		@media (max-width: toEm(775)) {
			font-size: clamp(1.188rem, 1.067rem + 0.6vw, 1.563rem);
			padding: 0;
			color: var(--colorTitle);
		}
	}
	// .nav__a
	&__a {
		color: var(--secondaryText);
		font-size: toRem(18);
		line-height: 1.5;
		padding-block: toRem(12);
		@media (min-width: toEm(775)) {
			padding-inline: clamp(1rem, 0.299rem + 1.23vw, 1.5rem);
			padding-block: toRem(14);
		}
	}
}
.icon-menu {
	display: none;
	@media (max-width: toEm(775)) {
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		flex-basis: toRem(30);
		width: toRem(30);
	}
	span {
		margin-block: toRem(6);
	}
	span,
	&::before,
	&::after {
		content: "";
		height: toRem(2);
		position: relative;
		z-index: 3;
		transition: all 0.3s;
		width: 100%;
		background-color: var(--colorTitle);
	}
}
@media (max-width: toEm(775)) {
	.open-menu {
		body {
			overflow: hidden;
		}
		.nav__body,
		.nav__body::before {
			inset-inline-start: 0;
		}
		.icon-menu span {
			width: 0;
			height: 0;
			margin: 0;
		}
		.icon-menu::before {
			transform: rotate(45deg) translateY(toRem(1.5008));
		}
		.icon-menu::after {
			transform: rotate(-45deg) translateY(toRem(-1.5008));
		}
		.icon-menu::before,
		.icon-menu::after {
			content: "";
			background-color: var(--colorTitle);
		}
	}
}

/* -------------HERO-------------- */

.hero {
	padding-block-start: toRem(40);
	padding-block-end: toRem(90);
	// .hero__container
	&__container {
	}
	// .hero__body
	&__body {
		min-height: 100svh;
		display: flex;
		flex-direction: column;
		position: relative;
		padding-block: toRem(20);
		padding-inline: toRem(50);
	}
	// .hero__video
	&__video {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		z-index: -1;
		border-radius: toRem(12);
		border: toRem(1) solid var(--heroBorder);
		&::before {
			content: "";
			position: absolute;
			background: linear-gradient(0deg, var(--bg) 0%, rgba(20, 20, 20, 0) 100%);
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		[poster] {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .hero__content
	&__content {
		margin-block-start: toRem(434);
		margin-inline: auto;
	}
	// .hero__title
	&__title {
		text-align: center;
		color: var(--colorTitle);
		@include adaptiveValue("font-size", 30, 24);
		font-weight: 700;
		line-height: 1.5;
	}
	// .hero__text
	&__text {
		max-width: toRem(960);
		color: var(--mainText);
		text-align: center;
		font-weight: 500;
		line-height: 1.5;
		margin-block-end: toRem(30);
	}
	// .hero__button
	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: toRem(20);
		margin-block-end: toRem(50);
	}
	// .hero__play
	&__play {
		display: flex;
		align-items: center;
		column-gap: toRem(9);
		color: var(--colorTitle);
		font-size: toRem(18);
		font-weight: 600;
		line-height: 153%;
		padding: toRem(14) toRem(24);
		border-radius: toRem(8);
		background: var(--colorButton);
		&::before {
			content: "";
			background: url("../img/icons/play-icon.svg") center no-repeat;
			width: toRem(17.84);
			height: toRem(19.19);
			padding: toRem(5);
		}
	}
	// .hero__buttons
	&__buttons {
		display: flex;
		align-items: center;
		column-gap: toRem(10);
	}
	&__icon {
		width: toRem(56);
		height: toRem(56);
		padding: toRem(14);
		border-radius: toRem(8);
		border: toRem(1) solid var(--heroBorder);
		background-color: var(--menuBg);
		svg {
			width: toRem(23);
			height: toRem(23);
		}
	}
	// .hero__controllers
	&__controllers {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .hero__arrow
	&__arrow {
		display: flex;
		align-items: center;
		justify-content: center;
		width: toRem(56);
		height: toRem(56);
		border-radius: toRem(8);
		border: toRem(1) solid var(--menuBorder);
		background: var(--menuBg);
		svg {
			width: toRem(18);
			height: toRem(18);
		}
	}
	// .hero__scrollers
	&__scrollers {
		display: flex;
		align-items: center;
		column-gap: toRem(3);
	}
	// .hero__scroller
	&__scroller {
		width: toRem(16);
		height: toRem(4);
		border-radius: toRem(100);
		background: var(--scrollerColor);
		// .hero__scroller--active
		&--active {
			width: toRem(23);
			border-radius: toRem(100);
			background: var(--colorButton);
		}
	}
}

/*----------MAIN BORDER-----------*/

.main {
	margin-block-end: toRem(50);
	// .main__wrapper
	&__wrapper {
	}
	// .main__container
	&__container {
	}
	// .main__body
	&__body {
		position: relative;
		padding: toRem(50);
		border-radius: toRem(12);
		border: toRem(1) solid var(--heroBorder);
	}
	// .main__movies
	&__movies {
		color: var(--colorTitle);
		text-align: center;
		font-size: toRem(20);
		font-weight: 600;
		line-height: 1.5;
		border-radius: toRem(8);
		background: var(--colorButton);
		padding: toRem(10) toRem(24);
		// margin-block-start: calc(-50px + -25px);
		margin-block-end: toRem(35.5);
		position: absolute;
		top: 0;
		left: toRem(50);
		transform: translateY(-40%);
	}
}

/*------------GENRES-----------*/

[class*="__head"] {
	display: flex;
	justify-content: space-between;
	column-gap: toRem(5);
	align-items: center;
	margin-block-end: toRem(50);
}
.title {
	color: var(--colorTitle);
	@include adaptiveValue("font-size", 38, 24);
	font-weight: 700;
	line-height: 1.5;
}
.controllers {
	display: flex;
	border-radius: toRem(12);
	border: toRem(1) solid var(--menuBorder);
	background: var(--menuBg);
	padding: toRem(16);
	align-items: center;
	column-gap: toRem(16);
	// .controllers__arrow
	&__arrow {
		aspect-ratio: 56/56;
		padding: toRem(14);
		border-radius: toRem(8);
		border: toRem(1) solid var(--menuBorder);
		background: var(--cardsBorder);
		svg {
			width: toRem(18);
			height: toRem(18);
		}
	}
	// .controllers__scrollers
	&__scrollers {
		display: flex;
		column-gap: toRem(3);
		align-items: center;
	}
	// .controllers__scroller
	&__scroller {
		width: toRem(16);
		height: toRem(4);
		border-radius: toRem(100);
		background: var(--scrollerColor);
		// .genres__scroller--active
		&--active {
			width: toRem(23);
			border-radius: toRem(100);
			background: var(--colorButton);
		}
	}
}

.genres {
	padding-block-end: toRem(50);
	// .genres__cards
	&__cards {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		column-gap: toRem(30);
	}
	// .genres__card
	&__card {
		padding: toRem(30);
		border-radius: toRem(12);
		border: toRem(1) solid var(--heroBorder);
		background: var(--cardsBorder);
		position: relative;
		&::before {
			content: "";
			position: absolute;
			background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, var(--cardsBorder) 101.79%);
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
	// .genres__images
	&__images {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: toRem(5);
	}
	// .genres__image
	&__image {
		border-radius: toRem(10);
		aspect-ratio: 105.3/123.5;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .genres__label
	&__label {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: toRem(5);
		position: relative;
		z-index: 2;
		h3 {
			align-self: flex-start;
			color: var(--colorTitle);
			font-size: toRem(18);
			font-weight: 600;
			line-height: 1.5;
		}
	}
	// .genres__pointer
	&__pointer {
		width: toRem(18.75);
		height: toRem(16.88);
		align-self: flex-end;
	}
}

/*-------------POPULAR---------------*/

.popular {
	padding-block-start: toRem(50);
	padding-block-end: toRem(50);
	// .popular__cards
	&__cards {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: toRem(30);
	}
	// .popular__card
	&__card {
		@extend .genres__card;
	}
	// .popular__images
	&__images {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: toRem(10);
	}
	// .popular__image
	&__image {
		aspect-ratio: 292/252;
		border-radius: toRem(4);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: toRem(4);
		}
	}
	// .popular__bottom
	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: toRem(5);
		position: relative;
		z-index: 2;
	}
	// .popular__label
	&__label {
		h3 {
			color: var(--colorTitle);
			font-size: toRem(20);
			font-weight: 600;
			line-height: 1.5;
		}
	}
	// .popular__pointer
	&__pointer {
		@extend .genres__pointer;
		align-self: center;
	}
	// .popular__top
	&__top {
		color: var(--colorTitle);
		font-weight: 600;
		line-height: 1.5;
		padding: toRem(10);
		border-radius: toRem(5);
		background: var(--colorButton);
		display: inline-flex;
		align-self: flex-start;
		margin-block-end: toRem(4);
	}
}

/*----------TRENDING----------*/

.trending {
	padding-block-start: toRem(50);
	padding-block-end: toRem(50);
	// .trending__cards
	&__cards {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		column-gap: toRem(20);
	}
	// .trending__card
	&__card {
		padding: toRem(20);
		border-radius: toRem(12);
		border: toRem(1) solid var(--heroBorder);
		background: var(--cardsBorder);
	}
	// .trending__images
	&__images {
		margin-block-end: toRem(20);
	}
	// .trending__image
	&__image {
		aspect-ratio: 243/281;
		border-radius: toRem(12);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: toRem(12);
		}
	}
	// .trending__info
	&__info {
		display: flex;
		column-gap: toRem(2);
		align-items: center;
		justify-content: space-between;
		column-gap: toRem(5);
	}
	// .trending__time
	&__time {
		display: flex;
		align-items: center;
		color: var(--mainText);
		font-weight: 500;
		line-height: 1.5;
		padding: toRem(6) toRem(10) toRem(6) toRem(6);
		border-radius: toRem(51);
		border: toRem(1) solid var(--heroBorder);
		background: var(--bg);
		&::before {
			content: "";
			background-image: url("../img/time.svg");
			width: toRem(19);
			height: toRem(19);
			background-size: 100%;
		}
	}
	// .trending__reviews
	&__reviews {
		display: flex;
		align-items: center;
		column-gap: toRem(4);
		color: var(--mainText);
		font-weight: 500;
		line-height: 1.5;
		padding: toRem(6) toRem(10) toRem(6) toRem(6);
		border-radius: toRem(51);
		border: toRem(1) solid var(--heroBorder);
		background: var(--bg);
		&::before {
			content: "";
			background: url("../img/watch.svg");
			width: toRem(21.53);
			height: toRem(16.5);
			background-size: 100%;
		}
	}
}

/*-----------RELEASES----------*/

.releases {
	padding-block-start: toRem(50);
	// .releases__cards
	&__cards {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		column-gap: toRem(20);
	}
	// .releases__card
	&__card {
		@extend .trending__card;
	}
	// .releases__images
	&__images {
		margin-block-end: toRem(20);
	}
	// .releases__image
	&__image {
		@extend .trending__image;
	}
	// .releases__released
	&__released {
		color: var(--mainText);
		text-align: center;
		font-weight: 500;
		line-height: 1.5;
		padding: toRem(6) toRem(10) toRem(6) toRem(6);
		border-radius: toRem(51);
		border: toRem(1) solid var(--heroBorder);
		background: var(--bg);
		span {
			color: var(--secondaryText);
			font-weight: 500;
			line-height: 1.5;
		}
	}
}

/*-----------FOOTER----------*/

.footer {
	padding-block-start: toRem(100);
	padding-block-end: toRem(50);
	background: var(--menuBg);
	// .footer__container
	&__container {
	}
	// .footer__body
	&__body {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		justify-content: center;
		column-gap: toRem(30);
	}
	// .footer__list
	&__list {
		h4 {
			color: var(--colorTitle);
			font-size: toRem(20);
			font-weight: 600;
			line-height: 1.5;
			margin-block-end: toRem(24);
		}
	}
	// .footer__icons
	&__icons {
		display: flex;
		column-gap: toRem(14);
		align-items: center;
	}
	// .footer__link
	&__link {
		margin-block-end: toRem(14);
		color: var(--mainText);
		font-size: toRem(18);
		font-weight: 500;
		line-height: 1.5;
		// .footer__link--icon
		&--icon {
			width: toRem(56);
			height: toRem(56);
			padding: toRem(16);
			border-radius: toRem(8);
			border: toRem(1) solid var(--heroBorder);
			background: var(--cardsBorder);
		}
		svg {
			width: toRem(24);
			height: toRem(24);
			object-fit: cover;
		}
	}
}
