/* google fonts */

@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800");

/* null */

@import url("reset.css");

/*--------------------*/

/* --------@keyframes---------- */

/* ------------------------- */

body {
	font-family: "Epilogue", sans-serif;
	background-color: #28293e;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1200px;
	padding-inline: 15px;
	margin-inline: auto;
}
.page {
	width: 100%;
}

/* ------------------------------------ */

.wrapper {
}
.header {
	margin-block-end: 50px;
}
.header__container {
	min-height: 80px;
}
.nav {
	display: flex;
	align-items: center;
	column-gap: 15px;
	padding-block: 10px;
	justify-content: space-between;
}
.nav__logo {
	position: relative;
	display: flex;
	z-index: 4;
	align-items: center;
	column-gap: 15px;
	flex-basis: 152px;
}
.nav__logo svg {
	width: 45px;
	aspect-ratio: 1;
}
.nav__name {
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	line-height: 133.333%;
}
.nav__navigation {
}
.nav__items {
	display: flex;
	flex-wrap: wrap;
	column-gap: 100px;
	justify-content: center;
	row-gap: 5px;
}
.nav__link {
	color: #ffffff;
	line-height: 200%;
}
.nav__buttons {
	justify-content: flex-end;
	/* flex-basis: 138px; */
}
.nav__button {
	z-index: 4;
	position: relative;
	color: #ffffff;
	text-align: center;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	padding: 18px 34px;
	border-radius: 6px;
	transition: all 0.7s;
	border: 1px solid rgba(255, 255, 255, 0.3);
}
.icon-menu {
	display: none;
}

/* @media requests */

@media (max-width: 974px) {
	.nav__items {
		column-gap: 52px;
	}
	.header__container {
		min-height: 60px;
	}
	.nav__logo svg {
		width: 40px;
		aspect-ratio: 1;
	}
}
@media (min-width: 974px) {
	.nav__buttons {
		flex-basis: 138px;
	}
}
@media (min-width: 771px) {
	.nav__item:nth-child(5) {
		display: none;
	}
}
@media (max-width: 770px) {
	.nav__buttons {
		display: none;
		column-gap: 15px;
		display: flex;
		align-items: center;
	}
	.icon-menu {
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		flex-basis: 30px;
	}
	.icon-menu span {
		margin-block: 6px;
	}
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		content: "";
		height: 2px;
		z-index: 3;
		transition: all 0.3s;
		width: 100%;
		background-color: #ffffff;
	}
	.open-menu .nav__body,
	.open-menu .nav__body::before {
		inset-inline-start: 0;
	}
	.open-menu .icon-menu span {
		width: 0;
		height: 0;
		margin: 0;
	}
	.open-menu .icon-menu::before {
		transform: rotate(45deg) translateY(1.5px);
	}
	.open-menu .icon-menu::after {
		transform: rotate(-45deg) translateY(-1.5px);
	}
	.nav__body {
		position: fixed;
		inset-inline-start: 100%;
		inset-block-start: 0;
		inline-size: 100%;
		block-size: 100%;
		z-index: 2;
		background-color: #8082a5;
		transition: all 0.5s;

		overflow: auto;
		padding: 100px 15px 30px;
	}
	.nav__body::before {
		content: "";
		position: fixed;
		block-size: 60px;
		inline-size: 100%;
		inset-inline-start: 100%;
		inset-block-start: 0;
		z-index: 3;
		background-color: #8082a5;
		transition: inset-inline-start 0.5s;
	}

	.nav__items {
		flex-direction: column;
		border: none;
		align-items: flex-end;
		row-gap: 25px;
	}
	.nav__link {
		font-size: 25px;
		padding: 0;
	}
}

@media (max-width: 430px) {
	.nav__button {
		display: none;
	}
}
@media (any-hover: hover) {
	.nav__button:hover {
		background-color: #ef6d58;
		transform: scale(0.9);
		transition: all 0.7s;
	}
}
/* -------------------------------------- */

/* ---------------PAGE LEFT-------------- */

.page__container {
	display: flex;
	flex-wrap: wrap;
	column-gap: 87px;
	padding-block-start: 50px;
}
.content {
	display: flex;
	flex-direction: column;
	flex: 0 1 513px;
}
.content__header {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	margin-block-end: 34px;
}
.content__label {
	color: #ef6d58;
	line-height: 200%;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.content__title {
	color: #ffffff;
	font-size: 72px;
	font-weight: 800;
	line-height: 111.111%;
	letter-spacing: -2px;
	text-transform: capitalize;
}
.content__info {
	color: rgba(255, 255, 255, 0.64);
	line-height: 200%;
	max-width: 470px;
}
.content__buttons {
	display: flex;
	column-gap: 46px;
	align-items: center;
	margin-block-end: 108px;
}
.content__button {
	color: #ffffff;
	text-align: center;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	padding: 18px 23px;
	background-color: #ef6d58;
	border-radius: 6px;
}
.content__link {
	color: #ffffff;
	line-height: 200%;
}
.content__bottom {
	display: flex;
	align-items: center;
	column-gap: 16px;
}
.content__img {
	position: relative;
	border-radius: 50%;
	background-color: #b550f6;
	width: 50px;
	height: 50px;
}
.content__img img {
	aspect-ratio: 38/43;
	position: absolute;
	bottom: 0;
	left: 5px;
}
.content__quote {
	display: flex;
	flex-direction: column;
	flex-basis: 327px;
}
.content__p {
	color: rgba(255, 255, 255, 0.64);
	line-height: 200%;
}
.content__signature {
	color: #ffffff;
	line-height: 200%;
	text-indent: 6px;
}
/* ---------------PAGE RIGHT------------- */

.images {
	position: relative;
	flex: 0 1 570px;
	aspect-ratio: 570/602;
	height: 100%;
}
.img-project {
}
.img-project::before {
	content: "";
	position: absolute;
	width: 64.9122%;
	height: 64.9122%;
	top: 17%;
	left: 17%;
	z-index: -1;
	border-radius: 50%;
	background: #32334c;
}
.img-project__picture {
}
.img-project__picture--stars {
	position: absolute;
	top: 6.6445%;
	right: 26%;
	width: 19.6491%;
	height: 19.6491%;
	aspect-ratio: 112/112;
	/* width: 100%; */
	/* max-width: 112px; */
}
.img-project__picture--stars img {
	/* width: 100%;
	height: 100%; */
	object-fit: cover;
}
.img-project__picture--cloud {
	position: absolute;
	top: 13.289%;
	right: 0;
	aspect-ratio: 112/82;
	width: 19.6491%;
	height: 14.3859%;
	/* width: 100%;
	max-width: 112px; */
}
.img-project__picture--cloud img {
	/* width: 100%;
	height: 100%; */
	object-fit: cover;
}
.img-project__picture--girl-photo {
	position: absolute;
	bottom: 17.9401%;
	right: 0;
	aspect-ratio: 246/269;
	width: 43.1578%;
	height: 47.1929%;
	/* max-width: 246px;
	width: 100%; */
}
.img-project__picture--girl-photo img {
	/* width: 100%;
	height: 100%; */
	object-fit: cover;
}
.img-project__picture--arrow {
	position: absolute;
	bottom: 3.9867%;
	right: 28.421%;
	aspect-ratio: 82/50;
	width: 14.3859%;
	height: 8.7719%;
	/* max-width: 82px;
	width: 100%; */
}
.img-project__picture--arrow img {
	/* width: 100%;
	height: 100%; */
	object-fit: contain;
}
.img-project__picture--business-card {
	position: absolute;
	bottom: 9.8006%;
	left: 9.8245%;
	aspect-ratio: 214/112;
	width: 37.5438%;
	height: 19.6491%;
	/* max-width: 214px;
	width: 100%; */
}
.img-project__picture--business-card img {
	/* width: 100%;
	height: 100%; */
	object-fit: cover;
}
.img-project__picture--curly-arrow {
	position: absolute;
	bottom: 31.2292%;
	left: 0;
	aspect-ratio: 142/73;
	width: 24.9122%;
	height: 12.807%;
	/* max-width: 142px;
	width: 100%; */
}
.img-project__picture--curly-arrow img {
	/* width: 100%;
	height: 100%; */
	object-fit: cover;
}
.img-project__picture--laptop {
	position: absolute;
	top: 3.9867%;
	left: 3.6842%;
	aspect-ratio: 255/265;
	width: 44.7368%;
	height: 46.4912%;
	/* max-width: 255px;
	width: 100%; */
}
.img-project__picture--laptop img {
	/* width: 100%;
	height: 100%; */
	object-fit: cover;
}

/* --------------FOOTER----------------- */

.footer-content {
	background-color: #28293e;
	max-height: 100px;
	text-align: center;
}
.footer-content p {
	text-align: center;
	color: #ffffff;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 20px;
	line-height: 103.448%;
	padding: 20px;
}
