/* google fonts */

@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500");

/* null */

@import url("reset.css");

/*--------------------*/
body {
	overflow-x: hidden;
}
.header-menu {
	max-width: 620px;
	margin-inline: auto;
	font-family: "Manrope", sans-serif;
	margin-bottom: 30px;
}
.list-menu {
	text-align: center;
}
.list {
	display: inline-block;
	font-size: 20px;
	padding-inline-start: 1.25rem;
}
.main-container {
	font-family: "Manrope", sans-serif;
	margin: 0 10px;
}
.main-container p {
	line-height: 1.5;
	padding-bottom: 20px;
}
.main-container img {
	margin: 20px 100px;
}
h1 {
	font-family: "Manrope", sans-serif;
	font-size: 28px;
	text-align: center;
	margin-bottom: 20px;
}
h2 {
	font-family: "Manrope", sans-serif;
	font-size: 28px;
	text-align: center;
	margin: 20px 0;
}

footer a {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
}

/* Homework */

.main-dark {
	max-width: 1294px;
	min-height: 50rem;
	background-color: #141414;
	margin-inline: auto;
	font-family: "Manrope", sans-serif;
	overflow: hidden;
}
.dark-list {
}
.header-title {
	margin-bottom: 5rem;
}
.streaming {
	color: #ffffff;
	font-size: 38px;
	font-weight: 700;
	line-height: 1.5;
	margin: 0 162px 14px 161px;
}
.stream {
	color: #999;
	font-size: 1.125rem;
	line-height: 1.5;
	margin: 0 162px 80px 161px;
}
.dark-section {
	max-width: 1150px;
	margin: 0 auto;
	overflow: hidden;
}
.dark-items {
	margin-left: -5px;
	margin-right: -5px;
	font-size: 0;
}
.dark-item {
	width: 27%;
	display: inline-block;
	margin: 0 30px 30px 161px;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: top;
	background-color: #0f0f0f;
}
.dark-content {
	font-size: 18px;
	text-align: center;
	padding: 25px;
}
.dark-img {
}
.dark-smartphone {
	color: #ffffff;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.5;
}
.smartphone-description {
	color: #999;
}
.tablet-icon {
}
.dark-tablet {
	color: #ffffff;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.5;
}
.tablet-description {
	color: #999;
}
.tv-icon {
}
.dark-tv {
	color: #ffffff;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.5;
}
.tv-description {
	color: #999;
}
.laptop-icon {
}
.dark-laptop {
	color: #ffffff;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.5;
}
.laptops-description {
	color: #999;
}
.console-icon {
}
.dark-console {
	color: #ffffff;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.5;
}
.console-description {
	color: #999;
}
.vr-icon {
}
.dark-vr {
	color: #ffffff;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.5;
}
.vr-description {
	color: #999;
}
