/* google fonts */

@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700");

/* null */

@import url("reset.css");

/*--------------------*/

/* --------@keyframes---------- */

/* ------------------------- */
body {
	background-color: #141414;
}
.header-container {
	background-color: #fdf0e9;
	padding: 15px;
	margin-block-end: 91px;
}
.header-container__title {
	text-align: center;
	font-weight: 700;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.page {
	padding-inline: 15px;
	max-width: 1200px;
	margin-inline: auto;
}
.black {
	font-family: "Manrope", sans-serif;
	/* display: flex;
	flex-direction: column; */
	border-radius: 12px;
	border: 1px solid #262626;
	background: #0f0f0f;
}
.black__container {
	padding: 50px;
	display: flex;
	flex-direction: column;
	gap: 50px;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	flex: 1 1 976px;
}
.black__first {
	display: flex;
	gap: 50px;
}
.black__left {
	display: flex;
	flex-direction: column;
	gap: 16px;
	max-width: 413px;
	width: 100%;
}
.black__right {
	display: flex;
	flex-direction: column;
	gap: 16px;
	max-width: 413px;
	width: 100%;
}
.black__name {
}
.black__text {
	padding: 20px;
	border-radius: 8px;
	border: 1px solid #262626;
	background: #141414;
}
.black__second {
	display: flex;
	gap: 50px;
}
.black__info {
}
.black__name {
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	line-height: 150%;
}
.black__info {
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	line-height: 150%;
}
.area {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.area__textarea {
	resize: vertical;
}
.area__name {
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	line-height: 150%;
}
.area__block {
	min-width: 876px;
	min-height: 163px;
	padding: 20px;
	border-radius: 8px;
	border: 1px solid #262626;
	background: #141414;
}
