/* google fonts */

@import url(https://fonts.googleapis.com/css?family=Amatic+SC:regular);
@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600);
@import url(https://fonts.googleapis.com/css?family=Epilogue:regular,700,800);
/* null */

@import url("reset.css");

/*--------------------*/
body {
	overflow-x: hidden;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.header-container {
	margin: 0 auto;
	max-height: 796px;
	background-color: #141414;
}
.photo-block {
	min-height: 859px;
	background:
		url("../img/play.png") center / 470px no-repeat,
		linear-gradient(180deg, rgba(20, 20, 20, 0) 0%, #141414 100%),
		linear-gradient(180deg, #141414 0%, rgba(20, 20, 20, 0) 100%),
		url("../img/subcontainer.png") center / cover no-repeat;
}
.main-main {
	background-color: #141414;
}
.main-container {
	max-width: 1597px;
	margin: 0 auto;
	padding-inline: 15px;
	font-family: "Manrope", sans-serif;
}
h1 {
	color: #ffffff;
	text-align: center;
	font-size: 58px;
	font-weight: 700;
	line-height: 150%;
}
.main-items p {
	color: #999999;
	text-align: center;
	font-size: 18px;
	line-height: 150%;
}
.main-item {
	margin-bottom: 14px;
}
.main-items {
	margin-bottom: 50px;
}
.button-container {
	max-width: 251px;
	margin: 0 auto;
}
.button {
	background: #e50000 url("../img/startbutton.png") 24px / 28px no-repeat;
	padding: 18px 24px;
	color: #ffffff;
	border-radius: 8px;
	text-transform: capitalize;
	text-align: center;
}
.button span {
	padding-left: 28px;
}
.main-portfolio {
	background-color: #fdf0e9;
	font-family: "Epilogue", sans-serif;
	padding-block: 77px;
}
.portfolio-container {
	max-width: 1175px;
	margin: 0 auto;
	overflow: hidden;
}
.portfolio-item {
	margin-bottom: 20px;
}
.list__item {
	background: url("../img/check.png") left center / 32px no-repeat;
	margin-bottom: 16px;
	padding-top: 8px;
	padding-left: 40px;
	min-height: 35px;
}
h2 {
	color: #ef6d58;
	font-size: 16px;
	line-height: 200%;
	letter-spacing: 3px;
	text-transform: uppercase;
}
h3 {
	max-width: 397px;
	color: #391400;
	font-size: 56px;
	font-weight: 800;
	line-height: 114.286%;
	letter-spacing: -1px;
	margin-bottom: 26px;
}
.paragraph {
	min-width: 470px;
}
.portfolio-items p {
	color: #391400;
	font-size: 20px;
	line-height: 160%;
	margin-bottom: 26px;
}
.main-photo {
}
.photo-container {
}
.portfolio-content,
.photo-content {
}
