/* local fonts */
@import url("fonts.css");

/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

/* null */

@import url("reset.css");

/*--------------------*/
body {
	font-family: "Cinzel", sans-serif;
	line-height: 1.5;
	color: #132238;
}
.header-title p {
	font-family: "Cinzel", sans-serif;
	font-style: italic;
	font-weight: 100;
	text-align: center;
	color: #556070;
}
h1 {
	font-family: "Gilroy", sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}
.main-article {
	text-align: left;
	text-transform: lowercase;
}
.main-article span {
	text-decoration: underline;
	color: #a53dff;
}
h2 {
	font-family: "Gilroy", sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	text-decoration: underline;
}
.compare p {
	text-align: right;
}
.compare span {
	text-decoration: overline;
	color: #a53dff;
}
h3 {
	font-family: "Gilroy", sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: underline;
}
.description p {
	text-align: justify;
	letter-spacing: 0.3125rem;
}
.description span {
	text-decoration: line-through;
	text-decoration-color: #132238;
	text-decoration-style: wavy;
	color: #a53dff;
}
footer p {
	color: #ff0000;
	text-shadow: 0.125rem 0.125rem 0.3125rem #ff0000;
	text-transform: capitalize;
}
footer a {
	word-spacing: 0.3125rem;
}
